<nav class="side-navbar">
        <!-- Sidebar Header-->
        <div class="sidebar-header d-flex align-items-center">
          <div class="avatar"><img src="/template/dash2/img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
          <div class="title">
            <h1 class="h4"><%= ident %></h1>
            <p><%= role %></p>
          </div>
        </div>
        <!-- Sidebar Navidation Menus--><span class="heading">Menu</span>
        <ul class="list-unstyled">
          <li class="">
            <a href="/compte/client"> <i class="icon-home"></i>Bienvenue </a>
          </li>
          <li class="active">
            <a href="/compte/client/gestion_data"> <i class="icon-home"></i>Gestion Données </a>
          </li>
          <li class="">
            <a href="/compte/client/gestion_contact"> <i class="icon-home"></i>Gestion Contacts </a>
          </li>
          <li class="">
            <a href="/compte/client/gestion_filleul"> <i class="icon-home"></i>Gestion Filleuls </a>
          </li>
          <li class="">
            <a href="/compte/client/passcommand"> <i class="icon-home"></i>Passer Commande </a>
          </li>
        </ul>
      </nav>     
    