<%- extend('../baseroot') %>

<div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="/compte/root/">Tableau de bord</a></li>
      <li class="breadcrumb-item active">Actualités Clients</li>
    </ul>
</div>

<br><br>


<div class="row"  style="text-align: center;">
    <div class="col-md-3 offset-md-1">
    <div class="card">
        <div class="card-header">
              Total Clients
        </div>
        <div class="card-body">
            <h1 class="card-title">
              <%= totalClients %>
            </h1>
            <a href="/compte/root/gestion_client/inscrits" class="btn btn-primary">Voir Plus</a>
        </div>
    </div>
    </div>
    <div class="col-md-3">
      <div class="card">
          <div class="card-header">
                Nouveau Clients
          </div>
          <div class="card-body">
              <h1 class="card-title">
                <%= totalNouveauClients %>
              </h1>
              <p class="card-text">
                
              </p>
              <a href="#" class="btn btn-primary">Voir Plus</a>
          </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
          <div class="card-header">
                Augmentation (Par rapport à hier)
          </div>
          <div class="card-body">
              <h1 class="card-title">
                <%= augmentation %> 
              </h1>
              <a href="/compte/root/actu_clients" class="btn btn-primary">Voir Plus</a>
          </div>
      </div>
    </div>
</div>