<%- extend('../baseroot') %>

<div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="/compte/root/">Tableau de bord</a></li>
      <li class="breadcrumb-item active">Actualités Clients</li>
    </ul>
</div>

<br><br>


<div class="row"  style="text-align: center;">
    <div class="col-md-3 offset-md-1">
    <div class="card">
        <div class="card-header">
              Total Commandes
        </div>
        <div class="card-body">
            <h1 class="card-title">
              <%= totalCommandes %>
            </h1>
            <a href="/compte/root/gestion_commande/toutes_commandes" class="btn btn-primary">Voir Plus</a>
        </div>
    </div>
    </div>
    <div class="col-md-3">
      <div class="card">
          <div class="card-header">
                Nouvelles Commandes
          </div>
          <div class="card-body">
              <h1 class="card-title">
                <%= totalNouvelleCommandes %>
              </h1>
              <a href="/compte/root/gestion_commande/nouvelles_commandes" class="btn btn-primary">Voir Plus</a>
          </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
          <div class="card-header">
                Augmentation (Par rapport à hier)
          </div>
          <div class="card-body">
              <h1 class="card-title">
                <%= augmentation %> 
              </h1>
              <a href="/compte/root/actu_commandes" class="btn btn-primary">Voir Plus</a>
          </div>
      </div>
    </div>
</div>

<div class="row"  style="text-align: center;">
  <div class="col-md-4 offset-md-1">
  <div class="card">
      <div class="card-header">
            Total Commandes NON PAYÉE ET NON LIVRÉE
      </div>
      <div class="card-body">
          <h1 class="card-title">
            <%= totalCommandesStatut1 %>
          </h1>
          <a href="/compte/root/gestion_commande/statut1" class="btn btn-primary">Voir Plus</a>
      </div>
  </div>
  </div>
  <div class="col-md-4 offset-md-1">
    <div class="card">
        <div class="card-header">
              Total Commandes  PAYÉE ET NON LIVRÉE
        </div>
        <div class="card-body">
            <h1 class="card-title">
              <%= totalCommandesStatut2 %>
            </h1>
            <a href="/compte/root/gestion_commande/statut2" class="btn btn-primary">Voir Plus</a>
        </div>
    </div>
  </div>
</div>

<div class="row" style="text-align: center;">
  <div class="col-md-4 offset-md-1">
    <div class="card">
        <div class="card-header">
              Total Commandes NON PAYÉE ET  LIVRÉE
        </div>
        <div class="card-body">
            <h1 class="card-title">
              <%= totalCommandesStatut3 %>
            </h1>
            <a href="/compte/root/gestion_commande/statut3" class="btn btn-primary">Voir Plus</a>
        </div>
    </div>
  </div>
  <div class="col-md-4 offset-md-1">
    <div class="card">
        <div class="card-header">
              Total Commandes PAYÉE ET LIVRÉE (ACHEVÉE)
        </div>
        <div class="card-body">
            <h1 class="card-title">
              <%= totalCommandesStatut4 %>
            </h1>
            <a href="/compte/root/gestion_commande/statut3" class="btn btn-primary">Voir Plus</a>
        </div>
    </div>
  </div>
</div>