<%- extend('../baseroot') %>

<div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="/compte/root/">Tableau de bord</a></li>
      <li class="breadcrumb-item active">Comptabilité</li>
    </ul>
</div>

<br><br>

<div class="row"  style="text-align: center;">
    <div class="col-md-3 offset-md-1">
    <div class="card">
        <div class="card-header">
            <b>
                ACTIFS ABONNEMENTS
            </b>
        </div>
        <div class="card-body">
            <h1 class="card-title">
                <span style="color:">60.000</span>
                FCFA
            </h1>
            <a href="/compte/root/gestion_client/inscrits" class="btn btn-primary">Voir Plus</a>
        </div>
    </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <b>
                    ACTIFS COMMANDES
                </b>
            </div>
          <div class="card-body">
              <h1 class="card-title">
                150.000 FCFA
              </h1>
              <a href="#" class="btn btn-primary">Voir Plus</a>
          </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <b>
                    PASSIFS COMMANDES
                </b> 
            </div>
            <div class="card-body">
              <h1 class="card-title">
                50.000 FCFA
              </h1>
              <a href="/compte/root/actu_clients" class="btn btn-primary">Voir Plus</a>
            </div>
        </div>
    </div>
</div>

<div class="row"  style="text-align: center;">
    <div class="col-md-3 offset-md-1">
    <div class="card">
        <div class="card-header">
            <b>
                ACTIFS MOBILE MONEY
            </b>
        </div>
        <div class="card-body">
            <h1 class="card-title">
                <span style="color:">400.000</span>
                FCFA
            </h1>
            <a href="/compte/root/gestion_client/inscrits" class="btn btn-primary">Voir Plus</a>
        </div>
    </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <b>
                    ACTIFS BANCAIRES
                </b>
            </div>
          <div class="card-body">
              <h1 class="card-title">
                80.000 FCFA
              </h1>
              <a href="#" class="btn btn-primary">Voir Plus</a>
          </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <b>
                    ACTIFS PHYSIQUES LIVRAISONS
                </b> 
            </div>
            <div class="card-body">
              <h1 class="card-title">
                50.000 FCFA
              </h1>
              <a href="/compte/root/actu_clients" class="btn btn-primary">Voir Plus</a>
            </div>
        </div>
    </div>
</div>