<%- extend('baseclient') %>

<div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2" style="margin-top: 3%;">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <h3 class="h4">Gestion Données</h3>
        </div>
        <div class="card-body text-center">
            <a target="_blank" href="/compte/client/gestion_data/voirdata" class="btn btn-primary">Consulter ma page</a>
        </div>
    </div>
</div>

<div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2" style="margin-top: 3%;">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <h3 class="h4">Gestion Données</h3>
        </div>
        <div class="card-body text-center">
            <a href="/compte/client/gestion_data/modifdata" class="btn btn-primary">Modifier les informations</a>
        </div>
    </div>
</div>

<div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2" style="margin-top: 3%;">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <h3 class="h4">Gestion Données</h3>
        </div>
        <div class="card-body text-center">
            <a href="/compte/client/gestion_data/abonnement" class="btn btn-primary">Mon abonnement</a>
        </div>
    </div>
</div>

<div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2" style="margin-top: 3%;">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <h3 class="h4">Gestion Données</h3>
        </div>
        <div class="card-body text-center">
            <a href="/compte/client/gestion_data/template" class="btn btn-primary">Mon template</a>
        </div>
    </div>
</div>