<%- extend('baseclient') %>

<div class="breadcrumb-holder container-fluid">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Gestion Contacts</a></li>
          <li class="breadcrumb-item active">Liste</li>
        </ul>
    </div>
      <section class="tables">   
        <div class="container-fluid">
            <div class="col-xs-12 col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
              <div class="card">
                <div class="card-header d-flex align-items-center justify-content-between">
                  <h3 class="h4">Liste Contacts</h3>
                  <a href="/compte/client/gestion_contact/new" class="btn btn-outline-primary">Nouveau Contact</a>
                </div>
                <div class="card-body">
                  <div class="table-responsive">                       
                    <% if(locals.info == "yes") { %>
                      <table class="table table-striped table-hover">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Nom</th>
                              <th>Prénoms</th>
                              <th>Email</th>
                              <th>Teléphone</th>
                              <th>Suppression</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% for(contact of contacts) { %>
                              <tr>
                                <th scope="row"><%= contact.id %></th>
                                <td><%= contact.nom %></td>
                                <td><%= contact.prenom %></td>
                                <td><%= contact.email %></td>
                                <td><%= contact.phone %></td>
                                <td>
                                    <a href="/compte/client/gestion_contact/supp/<%= contact.codeContact %>" class="btn btn-outline-danger">Executer</a>
                                </td>
                              </tr>
                            <% } %>
                          </tbody>
                        </table>
                    <% } else { %>
    
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>