<%- extend('baseclient') %>

<!-- Horizontal Form-->
               <div class="col-sm-12 col-md-8 offset-md-2  col-lg-6 offset-lg-3">
                   <br>
                    <div class="card">
                      <div class="card-header d-flex justify-content-center">
                        <h3 class="h4">GeassCard : Nouveau Contact</h3>
                      </div>
                      <div class="card-body ">
                          <% if(locals.error) { %>
                            <p class="d-flex justify-content-center text-danger"><%= error %></p>
                          <% } else { %>
                            <p class="d-flex justify-content-center">Enregistrement de contact</p>
                          <% } %>
                        
                        <form method="post" action="/compte/client/gestion_contact/new">
                            <div class="form-group col-sm-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1" class="">
                                <label class="form-control-label d-flex justify-content-center">Nom</label>
                                <input id="inputNom" name="nom" type="text" placeholder="Son nom" class="form-control" style="text-align: center" required 
                                value=
                                    <% if (locals.info) { %>
                                        <%= info.nom %>
                                    <% } %>							
                                    >
                            </div>
                            <div class="form-group col-xs-12 col-sm-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1" class="">
                                <label class="form-control-label d-flex justify-content-center">Prenom</label>
                                <input id="inputPrenom" name="prenom" type="text" placeholder="Au moins 1 de ses prénoms" class="form-control" style="text-align: center" required 
                                value=
                                    <% if (locals.info) { %>
                                        <%= info.prenom %>
                                    <% } %>							
                                    >
                            </div>
                          <div class="form-group col-xs-12 col-sm-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1" class="">
                            <label class="form-control-label d-flex justify-content-center">Email</label>
                            <input id="inputEmail" name="email" type="email" placeholder="Son adresse email" class="form-control" style="text-align: center"
                            value=
                                <% if (locals.info) { %>
                                  <%= info.email %>
                                <% } %>							
                              >
                          </div>
                          <div class="form-group col-xs-12 col-sm-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1" class="">
                            <label class="form-control-label d-flex justify-content-center">Telephone</label>
                            <input id="inputPhone" name="phone" type="number" placeholder="Son numéro de telephone" class="form-control" style="text-align: center"
                            value=
                                <% if (locals.info) { %>
                                    <%= info.phone %>
                                <% } %>							
                                >
                        </div>
                          <div class="form-group d-flex justify-content-around col-xs-10 offset-xs-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">       
                            <button id="submit" type="submit" class="btn btn-primary" disabled>Valider</button>
                            <button id="reset" type="reset" class="btn btn-danger" disabled>Effacer</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <!-- JavaScript files-->
    <script src="/template/dash2/vendor/jquery/jquery.min.js"></script>
    <script src="/template/dash2/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="/template/dash2/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/template/dash2/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="/template/dash2/vendor/chart.js/Chart.min.js"></script>
    <script src="/template/dash2/vendor/jquery-validation/jquery.validate.min.js"></script>
    <!-- Main File-->
    <script src="/template/dash2/js/front.js"></script>
    <script>

        $(document).ready(() => {
            var valid = $('#submit')
            var reset = $('#reset')
            var etat  = valid.attr('disabled')
            
            var nom   = $('#inputNom')
            var prenom= $('#inputPrenom')
            var email = $('#inputEmail')
            var phone = $('#inputPhone')

            nom.on("input", () => {
                //$('#view').text(email.val())

                if (nom.val().length !== 0) {
                  valid.prop('disabled', false)
                  reset.prop('disabled', false)
                } else {
                  valid.prop('disabled', true)
                  reset.prop('disabled', true)
                }
            })

            prenom.on("input", () => {
                //$('#view').text(email.val())

                if (prenom.val().length !== 0) {
                  valid.prop('disabled', false)
                  reset.prop('disabled', false)
                } else {
                  valid.prop('disabled', true)
                  reset.prop('disabled', true)
                }
            })

            email.on("input", () => {
                //$('#view').text(email.val())

                if (email.val().length !== 0) {
                  valid.prop('disabled', false)
                  reset.prop('disabled', false)
                } else {
                  valid.prop('disabled', true)
                  reset.prop('disabled', true)
                }
            })

            phone.on("input", () => {
                //$('#view').text(email.val())

                if (phone.val().length !== 0) {
                  valid.prop('disabled', false)
                  reset.prop('disabled', false)
                } else {
                  valid.prop('disabled', true)
                  reset.prop('disabled', true)
                }
            })
        })
        



    </script>
