<%- extend('baseclient') %>

<% if (locals.peutcommander == "yes") { %>
    <div class="d-flex col-12 justify-content-around mt-5">
        <div class="card text-center" style="width: 18rem;">
            <img src="https://i.ebayimg.com/images/g/DVYAAOSwGoJcnYKj/s-l1600.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Carte en Carton</h5>
                <p class="card-text">Some quick example .</p>
                <a href="/compte/client/passcommand/typecarton" class="btn btn-primary col-10 offset-1">Choisir</a>
            </div>
        </div>
    
        <div class="card text-center" style="width: 18rem;">
            <img src="https://i.ebayimg.com/images/g/Xy4AAOSwyDpb1CZp/s-l1600.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Carte en PVC</h5>
                <p class="card-text">Some quick example .</p>
                <a href="/compte/client/passcommand/typepvc" class="btn btn-primary col-10 offset-1">Choisir</a>
            </div>
        </div>
</div>
<% } else { %>
    <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2" style="margin-top: 10%;">
        <div class="card" >
            <div class="card-body text-center">
            <h1 class="card-title">
                Pour Commander : Vous devez remplir au niveau de vos informations personnelles : 
            </h1>
            <h1 class="display-4">
                Nom, Prenom, Email, Addresse, Numéro de téléphone 1
            </h1>
            <br>
            <h1 class="">
                Faute de quoi vos commandes seront rejetées
            </h1>
            <br>
            <a href="/compte/client/gestion_data/modifdata/infoperso" class="btn btn-large btn-primary">
                Remplir ici
            </a>
            </div>
        </div>
    </div>
<% } %>

