<!DOCTYPE html>
<html>
  <%- include('base/head') %>
  <body>
    <div class="page">
      <!-- Main Navbar-->
      <header class="header">
        <nav class="navbar">
          <!-- Search Box-->
          <div class="search-box">
            <button class="dismiss"><i class="icon-close"></i></button>
            <form id="searchForm" action="#" role="search">
              <input type="search" placeholder="What are you looking for..." class="form-control">
            </form>
          </div>
          <div class="container-fluid">
            <div class="navbar-holder d-flex align-items-center justify-content-between">
              <!-- Navbar Header-->
              <div class="navbar-header">
                <!-- Navbar Brand --><a href="/compte/client" class="navbar-brand d-none d-sm-inline-block">
                  <div class="brand-text d-none d-lg-inline-block"><span>Geass </span><strong>Card</strong></div>
                  <div class="brand-text d-none d-sm-inline-block d-lg-none"><strong>GC</strong></div></a>
                <!-- Toggle Button--><a id="toggle-btn" href="#" class="menu-btn active"><span></span><span></span><span></span></a>
              </div>
              <!-- Navbar Menu -->
              <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                <!-- Search-->
                <li class="nav-item d-flex align-items-center"><a id="search" href="#"><i class="icon-search"></i></a></li>
                <!-- Cart Menu    -->
                <li class="nav-item">
                    <a href="/compte/client/passcommand/panier" class="nav-link logout"> 
                      <span class="d-none d-sm-inline">Panier</span>
                      <i class="fa fa-opencart"></i>
                    </a>
                  </li>
                <!-- Logout    -->
                <li class="nav-item">
                  <a href="/logout" class="nav-link logout"> 
                    <span class="d-none d-sm-inline">Deconnexion</span>
                    <i class="fa fa-sign-out"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <div class="page-content d-flex align-items-stretch"> 
        <!-- Side Navbar -->
        <%- include('base/sidebar3') %>
        <div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom"><%= page %></h2>
            </div>
          </header>

          <%- content %>

          <!-- Page Footer-->
          <%# include('base/footer') %>
        </div>
      </div>
    </div>
    <!-- JavaScript files-->
    <%- include('base/script') %>
  </body>
</html>