<%- extend('baseclient') %>

<div class="breadcrumb-holder container-fluid">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Gestion Filleuls</a></li>
          <li class="breadcrumb-item active">Liste</li>
        </ul>
</div>
      <section class="tables">   
        <div class="container-fluid">
            <div class="col-xs-12 col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
              <div class="card">
                <div class="card-header d-flex align-items-center justify-content-between">
                  <h3 class="h4">Liste Filleuls</h3>
                  <a href="/compte/client/gestion_filleul/new" class="btn btn-outline-primary">Nouveau Filleul</a>
                </div>
                <div class="card-body">
                  <div class="table-responsive">                       
                    <% if(locals.info == "yes") { %>
                      <table class="table table-striped table-hover">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Nom</th>
                              <th>Prénoms</th>
                              <th>Email</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% for(filleul of filleuls) { %>
                              <tr>
                                <th scope="row"><%= filleul.id %></th>
                                <td><%= filleul.nom %></td>
                                <td><%= filleul.prenom %></td>
                                <td><%= filleul.email %></td>
                              </tr>
                            <% } %>
                          </tbody>
                        </table>
                    <% } else { %>
                        <div class="alert alert-info">Aucun Filleul Existant</div>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>