<% extend('baseclient') %>

<div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="/compte/client/">Tableau de bord</a></li>
      <li class="breadcrumb-item active"></li>
    </ul>
</div>

<br><br>

<div class="row"  style="text-align: center;">
    <div class="col-md-3 offset-md-1">
    <div class="card">
        <div class="card-header">
              Total Contacts
        </div>
        <div class="card-body">
            <h1 class="card-title">
              <%= totalContacts %>
            </h1>
            <a href="/compte/client/gestion_contact" class="btn btn-primary">Voir Plus</a>
        </div>
    </div>
    </div>
    <div class="col-md-3">
      <div class="card">
          <div class="card-header">
                Total Filleuls
          </div>
          <div class="card-body">
              <h1 class="card-title">
                <%= totalFilleuls %>
              </h1>
              <p class="card-text">
                
              </p>
              <a href="/compte/client/gestion_filleul" class="btn btn-primary">Voir Plus</a>
          </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
          <div class="card-header">
                Alerter tous mes contacts
          </div>
          <div class="card-body">
              <h1 class="card-title">
                
              </h1>
              <a href="/compte/client/actu_clients" class="btn btn-primary">Voir Plus</a>
          </div>
      </div>
    </div>
</div>