<footer class="main-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <p>GeassCard &copy; 2019-2020</p>
        </div>
        <div class="col-sm-6 text-right">
            <p>Design par <a href="https://bootstrapious.com/p/admin-template" class="external">Bootstrapious</a></p>            
        </div>
      </div>
    </div>
  </footer>