
<% if (active == 1) { %>
    <%- include('./sidebare/s1') %>
  <% } %>
  <% if (active == 2) { %>
    <%- include('./sidebare/s2') %>
  <% } %>
  <% if (active == 3) { %>
    <%- include('./sidebare/s3') %>
  <% } %>
  <% if (active == 4) { %>
    <%- include('./sidebare/s4') %>
  <% } %>
  <% if (active == 5) { %>
    <%- include('./sidebare/s5') %>
  <% } %>
  <% if (active == 6) { %>
    <%- include('./sidebare/s6') %>
  <% } %>
  <% if (active == 7) { %>
    <%- include('./sidebare/s7') %>
  <% } %>
  <% if (active == 8) { %>
    <%- include('./sidebare/s8') %>
  <% } %>
  <% if (active == 9) { %>
    <%- include('./sidebare/s9') %>
  <% } %>
  <% if (active == 10) { %>
    <%- include('./sidebare/s10') %>
  <% } %>
  