<nav class="side-navbar">
    <!-- Sidebar Header-->
    <div class="sidebar-header d-flex align-items-center">
        <div class="avatar"><img src="/template/dash2/img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle">
        </div>
        <div class="title">
            <h1 class="h4"><%= ident %></h1>
            <p><%= role %></p>
        </div>
    </div>
    <!-- Sidebar Navigation Menus--><span class="heading">Menu</span>
    <ul class="list-unstyled">
        <% for(side of tabside) { %> 
            <% if(side.active == 1) { %> 
              <li class="active">
            <% } else { %> 
              <li class="">
            <% } %> 
              <a href="<%= side.route %>">
                <i class="material-icons"><%= side.icone %></i>
                <%= side.texte %>
              </a>
            </li>
          <% } %> 
    </ul>
</nav>