<%- extend('basepresta') %>

<!-- Breadcrumb-->
<div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Gestion Commande</a></li>
      <li class="breadcrumb-item active">Liste</li>
    </ul>
</div>
  <section class="tables">   
    <div class="container-fluid">
          <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between">
              <h3 class="h4">Liste Commandes</h3>
            </div>
            <div class="card-body">
              <div class="table-responsive">                       
                <table class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <th>N°Com.</th>
                      <th>Type</th>
                      <th>Modèle</th>
                      <th>Nombre</th>
                      <th>Revenu</th>
                      <th>Statut</th>
                      <th>Détails</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Défaut</td>
                        <td>Otto</td>
                        <td>60</td>
                        <td>15.000</td>
                        <td class="text-success">En Cours</td>
                        <td>
                            <a href="" class="btn btn-outline-primary">Voir</a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Défaut</td>
                        <td>Otto</td>
                        <td>95</td>
                        <td>13.000</td>
                        <td class="text-success">En Cours</td>
                        <td>
                            <a href="" class="btn btn-outline-primary">Voir</a>
                        </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>