<%- extend('../baseclient') %>

<% if(locals.info === "yes")  { %>
    <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2" style="margin-top: 5%;">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h3 class="h4">Vos Commandes En Cours</h3>
            </div>
            <div class="card-body text-center">
                <table class="table table-hover col-12">
                    <thead>
                        <tr>
                            <th>Panier N°_</th>
                            <th>Coût Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(commande of commandes) {%>
                            <tr>
                                <td><%= commande.codePanier %> </td>
                                <td><%= commande.coutTotal %></td>
                                <td>
                                    <a class="btn btn-outline-info" href="/compte/client/passcommand/mescommandes/details/<%= commande.codeCommande %> ">
                                        Détails
                                    </a>
                                </td>
                            </tr>
                        <% } %>
                        <tr>
                            <th><h1>Total commande en cours :</h1> </th>
                    <!--        <td></td> -->
                            <td></td>
                            <td><h1 class="text-dark"><%= commandes.length %></h1></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>
<% } %>

<% if(locals.info === "no")  { %>
    <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2" style="margin-top: 5%;">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h3 class="h4">Vos Commandes En Cours</h3>
            </div>
            <div class="card-body text-center">
                <div class="alert alert-warning text-center" style="margin: 5%;">
                    <h2>Vous n'avez aucune commande en cours</h2>
                </div>
            </div>
        </div>
    </div>
<% } %>










