<%- extend('../baseclient') %>
<div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2" style="margin-top: 5%;">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <h3 class="h4">Votre Commande : Etape 3 => Mode De Paiement</h3>
        </div>
        <div class="card-body text-center">
          <table class="table table-hover col-12">
            <thead>

            </thead>
            <tbody>
              <tr>
                <th><h1>À la livraison : </h1> </th>
                <td>
                  <a id="pay_livraison" href="/compte/client/passcommand/panier/modepaiement/<%= panier.codePanier %>/pay_livraison" class="btn btn-lg btn-outline-info">Ok</a>
                </td>
            </tr>
              <tr>
                    <th><h1>Mobile Money : </h1> </th>
                    <td>
                      <a id="pay_mobile" href="" class="btn btn-lg btn-outline-info">Ok</a>
                    </td>
              </tr>
            <tr>
              <th><h1>Moyen Bancaire : </h1> </th>
              <td>
                <a id="pay_bank" href="" class="btn btn-lg btn-outline-info">Ok</a>
              </td>
          </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
            <a href="/compte/client/passcommand/panier/validreduction/<%= panier.codePanier %>" class="btn btn-lg btn-info col-sm-10 offset-sm-1 col-md-4 offset-md-1">
                Retour 
            </a>
<!--            <a href="" class="btn btn-lg btn-success col-sm-10 offset-sm-1 col-md-4 offset-md-1">
                Continuer
            </a>
          -->            
        </div>
    </div>
</div>

