<%- extend('../baseclient') %>

<div class="d-flex justify-content-center col-lg-10 offset-lg-1 col-md-10 offset-md-1 row mt-5">
    
        <div class="card text-center" style="width: 18rem; border: 2px solid orange; margin-left: 5px; margin-right: 5px; border-radius: 25%;">
            <h1 class="display-2">50</h1>
            <div class="card-body">
                <h1 class="card-title">CARTES</h1>
                <a href="/compte/client/passcommand/<%= typecarte %>/<%= modelecarte %>/add50" class="btn btn-primary btn-lg col-12">
                    <i class="fa fa-cart-plus"></i>
                </a>
            </div>
        </div>

        <div class="card text-center" style="width: 18rem; border: 2px solid orange; margin-left: 5px; margin-right: 5px; border-radius: 25%;">
            <h1 class="display-2">100</h1>
            <div class="card-body">
                <h1 class="card-title">CARTES</h1>
                <a href="/compte/client/passcommand/<%= typecarte %>/<%= modelecarte %>/add100" class="btn btn-primary btn-lg col-12">
                    <i class="fa fa-cart-plus"></i>
                </a>
            </div>
        </div>

        <div class="card text-center" style="width: 18rem; border: 2px solid orange; margin-left: 5px; margin-right: 5px; border-radius: 25%;">
                <h1 class="display-2">250</h1>
                <div class="card-body">
                    <h1 class="card-title">CARTES</h1>
                    <a href="/compte/client/passcommand/<%= typecarte %>/<%= modelecarte %>/add250" class="btn btn-primary btn-lg col-12">
                        <i class="fa fa-cart-plus"></i>
                    </a>
                </div>
            </div>
    
            <div class="card text-center" style="width: 18rem; border: 2px solid orange; margin-left: 5px; margin-right: 5px; border-radius: 25%;">
                <h1 class="display-2">500</h1>
                <div class="card-body">
                    <h1 class="card-title">CARTES</h1>
                    <a href="/compte/client/passcommand/<%= typecarte %>/<%= modelecarte %>/add500" class="btn btn-primary btn-lg col-12">
                        <i class="fa fa-cart-plus"></i>
                    </a>
                </div>
            </div>
</div> 

