<%- extend('../baseclient') %>

<% if(locals.info === "yes")  { %>
    <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2" style="margin-top: 5%;">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h3 class="h4">Votre Commande : Etape 1 => Le Panier</h3>
            </div>
            <div class="card-body text-center">
                <table class="table table-hover col-12">
                    <thead>
                        <tr>
                            <th>Produit</th>
                    <!--       <th>Prix</th> --> 
                            <th>Qte</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(ligne of lignepaniers) {%>
                            <tr>
                                <td><%= ligne.nom %> <%= ligne.typeCarte %> Pack <%= ligne.nbcarte %></td>
                    <!--            <td><%= ligne.prix %></td> --> 
                                <td><%= ligne.quantite %></td>
                                <td><%= ligne.prix*ligne.quantite %></td>
                                <td><a class="text-danger" href="/compte/client/passcommand/panier/deline/<%= ligne.codeLp %>"><i class=" fa fa-trash "></i></a></td>
                            </tr>
                        <% } %>
                        <tr>
                            <th><h1>Total :</h1> </th>
                    <!--        <td></td> -->
                            <td></td>
                            <td><h1 class="text-dark"><%= panier.prixTotal %></h1></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <a href="/compte/client/passcommand" class="btn btn-lg btn-info col-sm-10 offset-sm-1 col-md-4 offset-md-1">
                    Choisir Un Autre
                </a>
                <a href="/compte/client/passcommand/panier/validreduction/<%= panier.codePanier %>" class="btn btn-lg btn-success col-sm-10 offset-sm-1 col-md-4 offset-md-1">
                    Commander
                </a>
            </div>
        </div>

        <div class="col-sm-8 offset-sm-2  col-md-6 offset-md-3 col-lg-6 offset-lg-3 ">
            <div class="card">
              <div class="card-body text-center">
                <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-warning">Vider Panier </button>
                <!-- Modal-->
                <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                  <div role="document" class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 id="exampleModalLabel" class="modal-title">
                            Attention !!! Voulez-vous vraiment vider votre panier ???
                        </h4>
                        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                      </div>
                      <div class="modal-body">
                        <a href="/compte/client/passcommand/panier/delpan/<%= panier.codePanier %>" class="btn btn-lg btn-danger col-sm-12 col-md-8 offset-md-2">
                            Vider Panier
                        </a>
                      </div>
                      <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
<% } %>

<% if(locals.info === "no")  { %>
    <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2" style="margin-top: 5%;">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h3 class="h4">Votre Panier</h3>
            </div>
            <div class="card-body text-center">
                <div class="alert alert-warning text-center" style="margin: 5%;">
                    <h2>Votre panier est vide.</h2>
                </div>
            </div>
        </div>
    </div>
<% } %>

<div class="col-sm-12 col-md-6 offset-md-3 col-lg-6 offset-lg-3" style="margin-top: 5%;">
    <div class="card">
        <div class="card-body text-center">
            <div class="text-center" style="margin: 5%;">
                <a href="/compte/client/passcommand/mescommandes" class="btn btn-outline-primary">
                    Mes Commandes En Cours
                </a>
            </div>
        </div>
    </div>
</div>









