<%- extend('../baseclient') %>
<div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2" style="margin-top: 5%;">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <h3 class="h4">Votre Commande : Etape 4 => Resumé </h3>
        </div>
        <div class="card-body text-center">
          <table class="table table-hover col-12">
            <thead>
                <th>
                    Désignation
                </th>
                <th>
                    Coût
                </th>
            </thead>
            <tbody>
                <% for(ligne of lignepaniers) { %>
                    <tr>
                        <td>
                            <%= ligne.quantite %> pack(s) de <%= ligne.nbcarte %> Cartes Modele <%= ligne.nom %> en <%= ligne.typeCarte %>
                        </td>
                        <td>
                            <%= ligne.prix %>
                        </td>
                    </tr>
                <% } %>
            </tbody>
          </table>
        </div>
        <br>
        <div class="card-body text-center">
            <table class="table table-hover col-12">
              <thead>
                  <th>
                        Code Réduction
                  </th>
                  <th>
                        Coût Réduction
                  </th>
              </thead>
              <tbody>
                  <% for(reduction of reductions) { %>
                      <tr>
                          <td>
                              <%= reduction.codeReduction %> 
                          </td>
                          <td>
                              <%= reduction.sommeReduction%>
                          </td>
                      </tr>
                  <% } %>
              </tbody>
            </table>
        </div>
        <div class="col-sm-12 col-md-10 offset-md-1 text-center">
            <p class="display-4">Coût : <span style="color: indigo;"><%= panier.prixTotal - panier.reduction %></span> Fcfa</p>
        </div>
        <div class="card-footer">
            <a href="/compte/client/passcommand/panier/modepaiement/<%= panier.codePanier %>" class="btn btn-lg btn-info col-sm-10 offset-sm-1 col-md-4 offset-md-1">
                Retour  Etape 3
            </a>
            <a href="/compte/client/passcommand/panier/<%= panier.codePanier %>/validcommande/<%= commande.codeCommande %>" class="btn btn-lg btn-success col-sm-10 offset-sm-1 col-md-4 offset-md-1">
                Confirmer votre commande
            </a>
        </div>
    </div>
</div>

