<%- extend('../../baseclient') %>

<div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 mt-5">
    <div class="card">
        <div class="card-header  d-flex ">
            <div class="row justify-content-between" style=" width: 100%;">
                <div class="col-md-4 left-align">
                    <p class="h4">Votre Curriculum Vitae</p>
                </div>
                <div class="col-md-4 ">
                    <% if (locals.message) { %>
                        <a class="btn btn-outline-info" href="">
                            Recharger la page
                        </a>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="card-body">
            <% if(locals.error) { %> 
                <div class="alert alert-danger"><%= error %></div>
            <% } %> 
            <% if (locals.message) { %>
                <div class="alert alert-success"><%= message %></div>
            <% } %>
            <% if(!(locals.message && locals.error)) { %> 
                <p>Uploader votre fichier</p>
            <% }%>
            

            <form method="POST" action="/compte/client/gestion_data/modifdata/cvprofil" class="form-horizontal" enctype="multipart/form-data">
                <div class="form-group row justify-content-center">
                    <div class="card" class="col-md-8">
                        <% if(infofichier.cheminCv) { %> 
                            <a href="<%= infofichier.cheminCv %>"   target="_blank" class="btn btn-large btn-dark">
                                Visualiser ici
                            </a>
                        <% } else { %>
                            <a href="/upload/cvprofil/cv.pdf"   target="_blank" class="btn btn-large btn-dark disabled">
                                Visualiser ici
                            </a>
                        
                        <% } %>

                        <div class="card-body">
                            <p class="card-text text-center">
                                <% if(infofichier.cheminCv) {%>
                                    Votre C.V. actuel
                                <% } else { %>
                                    Aucun C.V.
                                <% } %>
                            </p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <label for="cvprofil" class="col-sm-3 offset-sm-1 form-control-label">
                        Importer un fichier
                    </label>
                    <input name="cvprofil" type="file" class="col-sm-6 form-control-file" id="cvprofil">

                </div>
                <br>
                <div class="form-group row justify-content-center">
                    <div class="col-sm-6" style=" margin-left: 15%;  margin-right: 5%;">
                        <input type="submit" value="Valider" class="btn btn-lg btn-primary">
                        <input type="reset" value="Vider" class="btn btn-lg btn-danger">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>