<%- extend('../../baseclient') %>

<div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 mt-5">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <h3 class="h4">Informations Sur Votre Entreprise</h3>
        </div>
        <div class="card-body">
        <p>Entrez vos informations</p>
        <form method="POST" action="/compte/client/gestion_data/modifdata/infosociete" class="form-horizontal">
            <div class="form-group row">
                <label for="nom" class="col-sm-3 form-control-label">Nom</label>
                <div class="col-sm-9">
                    <input id="nom" name="nom" type="text" placeholder="Votre nom" class="form-control form-control-success"
                    value=
                        <% if (locals.info) { %>
                            <%= info.nom %>
                        <% } %>
                        <% if (locals.infosociete) { %>
                            <%= infosociete.nom %>
                        <% } %>
                    >
                </div>
            </div>
            <div class="form-group row">
                <label for="prenom" class="col-sm-3 form-control-label">Poste</label>
                <div class="col-sm-9">
                    <input id="poste" name="poste" type="text" placeholder="Votre poste" class="form-control form-control-warning"
                    value=
                        <% if (locals.info) { %>
                            <%= info.poste %>
                        <% } %>
                        <% if (locals.infosociete) { %>
                            <%= infosociete.poste %>
                        <% } %>
                    >
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-sm-3 form-control-label">Email</label>
                <div class="col-sm-9">
                    <input id="email" name="email" type="email" placeholder="Votre email" class="form-control form-control-success"
                    value=
                        <% if (locals.info) { %>
                            <%= info.email %>
                        <% } %>
                        <% if (locals.infosociete) { %>
                            <%= infosociete.email %>
                        <% } %>
                    >
                </div>
            </div>
            <div class="form-group row">
                <label for="adresse" class="col-sm-3 form-control-label">Adresse</label>
                <div class="col-sm-9">
                    <input id="adresse" name="adresse" type="text" placeholder="votre adresse" class="form-control form-control-warning"
                    value=
                        <% if (locals.info) { %>
                            <%= info.adresse %>
                        <% } %>
                        <% if (locals.infosociete) { %>
                            <%= infosociete.adresse %>
                        <% } %>
                    >
                </div>
            </div>
            <div class="form-group row">
                <label for="phone1" class="col-sm-3 form-control-label">Numéro de Téléphone 1</label>
                <div class="col-sm-9">
                    <input id="phone1" name="phone1" type="number" placeholder="Votre numéro" class="form-control form-control-warning"
                    value=
                        <% if (locals.info) { %>
                            <%= info.phone1 %>
                        <% } %>
                        <% if (locals.infosociete) { %>
                            <%= infosociete.phone1 %>
                        <% } %>
                    >
                </div>
            </div>
            <div class="form-group row">
                <label for="phone2" class="col-sm-3 form-control-label">Numéro de Téléphone 2</label>
                <div class="col-sm-9">
                    <input id="phone2" name="phone2" type="number" placeholder="Votre numéro" class="form-control form-control-success"
                    value=
                        <% if (locals.info) { %>
                            <%= info.phone2 %>
                        <% } %>
                        <% if (locals.infosociete) { %>
                            <%= infosociete.phone2 %>
                        <% } %>
                    >
                </div>
            </div>
            <div class="form-group row">
                <label for="phone3" class="col-sm-3 form-control-label">Numéro de Téléphone 3</label>
                <div class="col-sm-9">
                    <input id="phone3" name="phone3" type="number" placeholder="Votre numéro" class="form-control form-control-warning"
                    value=
                        <% if (locals.info) { %>
                            <%= info.phone3 %>
                        <% } %>
                        <% if (locals.infosociete) { %>
                            <%= infosociete.phone3 %>
                        <% } %>
                    >
                </div>
            </div>
            <div class="form-group row">
                <label for="site" class="col-sm-3 form-control-label">Site Internet</label>
                <div class="col-sm-9">
                    <input id="siteinternet" name="siteinternet" type="site" placeholder="Votre site internet" class="form-control form-control-success"
                    value=
                        <% if (locals.info) { %>
                            <%= info.siteinternet %>
                        <% } %>
                        <% if (locals.infosociete) { %>
                            <%= infosociete.siteInternet %>
                        <% } %>
                    >
                </div>
            </div>
            <div class="form-group row">       
                <div class="col-sm-9 offset-sm-3">
                    <input type="submit" value="Valider" class="btn btn-primary">
                    <input type="reset" value="Effacer" class="btn btn-danger">
                </div>
            </div>
        </form>
      </div>
    </div>
  </div>
