<%- extend('../../baseclient') %>

<div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 mt-5">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <h3 class="h4">Informations Personnelles</h3>
        </div>
        <div class="card-body">
                <% if (locals.error) { %>
                    <div class="alert alert-danger"><%= error %></div>
                <% } else { %>
                    <p>Entrez vos informations</p>
                <% }%>
        
        <form method="POST" action="/compte/client/gestion_data/modifdata/infoperso" class="form-horizontal">
            <div class="form-group row">
                <label for="nom" class="col-sm-3 form-control-label">Nom</label>
                <div class="col-sm-9">
                    <input id="nom" name="nom" type="text" placeholder="Votre nom" class="form-control form-control-success" 
                    value=
                        <% if (locals.info) { %>
                            <%= info.nom %>
                        <% } %>
                        <% if (locals.actuclient) { %>
                            <%= actuclient.nom %>
                        <% } %>
                    >
                </div>
            </div>
            <div class="form-group row">
                <label for="prenom" class="col-sm-3 form-control-label">Prenom</label>
                <div class="col-sm-9">
                    <input id="prenom" name="prenom" type="text" placeholder="Votre prenom" class="form-control form-control-warning"
                    value=
                        <% if (locals.info) { %>
                            <%= info.prenom %>
                        <% } %>
                        <% if (locals.actuclient) { %>
                            <%= actuclient.prenom %>
                        <% } %>
                    >
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-sm-3 form-control-label">Email</label>
                <div class="col-sm-9">
                    <input id="email" name="email" type="email" placeholder="Votre email" class="form-control form-control-success"
                    value=
                        <% if (locals.info) { %>
                            <%= info.email %>
                        <% } %>
                        <% if (locals.actuclient) { %>
                            <%= actuclient.email %>
                        <% } %>
                    >
                </div>
            </div>
            <div class="form-group row">
                <label for="adresse" class="col-sm-3 form-control-label">Adresse</label>
                <div class="col-sm-9">
                    <input id="adresse" name="adresse" type="text" placeholder="votre addresse" class="form-control form-control-warning"
                    value=
                        <% if (locals.info) { %>
                            <%= info.adresse %>
                        <% } %>
                        <% if (locals.actuclient) { %>
                            <%= actuclient.adresse %>
                        <% } %>
                    >
                </div>
            </div>
            <div class="form-group row">
                <label for="datenaissance" class="col-sm-3 form-control-label">Date de naissance</label>
                <div class="col-sm-9">
                    <input id="datenaissance" name="datenaissance" type="date" class="form-control form-control-success"
                    value=
                        <% if (locals.info) { %>
                            <%= info.date %>
                        <% } %>
                        <% if (locals.actuclient) { %>
                            <%= actuclient.dateNaissance %>
                        <% } %>
                    >
                </div>
            </div>
            <div class="form-group row">
                <label for="phone1" class="col-sm-3 form-control-label">Numéro de Téléphone 1</label>
                <div class="col-sm-9">
                    <input id="phone1" name="phone1" type="number" placeholder="Votre numéro" class="form-control form-control-warning"
                    value=
                        <% if (locals.info) { %>
                            <%= info.phone1 %>
                        <% } %>
                        <% if (locals.actuclient) { %>
                            <%= actuclient.phone1 %>
                        <% } %>
                    >
                </div>
            </div>
            <div class="form-group row">
                <label for="phone2" class="col-sm-3 form-control-label">Numéro de Téléphone 2</label>
                <div class="col-sm-9">
                    <input id="phone2" name="phone2" type="number" placeholder="Votre numéro" class="form-control form-control-success"
                    value=
                        <% if (locals.info) { %>
                            <%= info.phone2 %>
                        <% } %>
                        <% if (locals.actuclient) { %>
                            <%= actuclient.phone2 %>
                        <% } %>
                    >
                </div>
            </div>
            <div class="form-group row">
                <label for="phone3" class="col-sm-3 form-control-label">Numéro de Téléphone 3</label>
                <div class="col-sm-9">
                    <input id="phone3" name="phone3" type="number" placeholder="Votre numéro" class="form-control form-control-warning"
                    value=
                        <% if (locals.info) { %>
                            <%= info.phone3 %>
                        <% } %>
                        <% if (locals.actuclient) { %>
                            <%= actuclient.phone3 %>
                        <% } %>
                    >
                </div>
            </div>
            <div class="form-group row">
                <label for="siteinternet" class="col-sm-3 form-control-label">Site Internet</label>
                <div class="col-sm-9">
                    <input id="siteinternet" name="siteinternet" type="text" placeholder="Votre site internet" class="form-control form-control-success"
                    value=
                        <% if (locals.info) { %>
                            <%= info.site %>
                        <% } %>
                        <% if (locals.actuclient) { %>
                            <%= actuclient.siteInternet %>
                        <% } %>
                    >
                </div>
            </div>
            <div class="form-group row">
                <label for="autodescription" class="col-sm-3 form-control-label">Auto-Desciption</label>
                <div class="col-sm-9">
                    <textarea class="form-control" name="autodescription" id="autodescription" cols="30" rows="5">
                        <% if (locals.info) { %>
                            <%= info.autodescription %>
                        <% } %>
                        <% if (locals.actuclient) { %>
                            <%= actuclient.autoDescription %>
                        <% } %>
                    </textarea>
                </div>
            </div>
            <div class="form-group row">       
                <div class="col-sm-9 offset-sm-3">
                    <input type="submit" value="Valider" class="btn btn-primary">
                    <input type="reset" value="Effacer" class="btn btn-danger">
                </div>
            </div>
        </form>
      </div>
    </div>
  </div>
