<%- extend('../../baseclient') %>

<div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 mt-5">
    <div class="card">
        <div class="card-header  d-flex ">
            <div class="row justify-content-between" style=" width: 100%;">
                <div class="col-md-4 left-align">
                    <p class="h4">Votre Photo de profil</p>
                </div>
                <div class="col-md-4 ">
                    <% if (locals.message) { %>
                        <a class="btn btn-outline-info" href="">
                            Recharger la page
                        </a>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="card-body">
            <% if(locals.error) { %> 
                <div class="alert alert-danger"><%= error %></div>
            <% } %> 
            <% if (locals.message) { %>
                <div class="alert alert-success"><%= message %></div>
            <% } %>
            <% if(!(locals.message && locals.error)) { %> 
                <p>Uploader votre fichier</p>
            <% }%>
            

            <form method="POST" action="/compte/client/gestion_data/modifdata/photoprofil" class="form-horizontal" enctype="multipart/form-data">
                <div class="form-group row justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <% if(infofichier.cheminPhotoProfil) {%>
                        <img src="<%= infofichier.cheminPhotoProfil %>" class="card-img-top" alt="...">
                        <% } else { %>
                            <% if(actuclient.sexe == "masculin") { %> 
                                <img src="/asset/img/bboy.png" class="card-img-top" alt="...">
                            <% } %> 
                            <% if(actuclient.sexe == "feminin") { %> 
                                <img src="/asset/img/bgirl.png" class="card-img-top" alt="...">
                            <% } %> 
                            <% if(actuclient.sexe != "masculin" && actuclient.sexe != "feminin") { %> 
                                <img src="https://placehold.it/400%>" class="card-img-top" alt="...">
                            <% } %> 
                        
                        <% } %>

                        <div class="card-body">
                            <p class="card-text text-center">
                                <% if(infofichier.cheminPhotoProfil) {%>
                                    Photo de profil actuelle
                                <% } else { %>
                                    Photo de profil par défaut
                                <% } %>
                            </p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <label for="photoprofil" class="col-sm-3 offset-sm-1 form-control-label">
                        Importer un fichier
                    </label>
                    <input name="photoprofil" type="file" class="col-sm-6 form-control-file" id="photoprofil">

                </div>
                <br>
                <div class="form-group row justify-content-center">
                    <div class="col-sm-6" style=" margin-left: 15%;  margin-right: 5%;">
                        <input type="submit" value="Valider" class="btn btn-lg btn-primary">
                        <input type="reset" value="Vider" class="btn btn-lg btn-danger">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>