<!DOCTYPE html>
<html lang="fr" class="no-js">

<%- include('base/head.ejs') %>

<body>
    <!-- Animated Background -->
    <div class="lm-animated-bg" style="background-image: url(/template/bcv/<%= lienTemplate %>/img/main_bg.png);">
    </div>
    <!-- /Animated Background -->

    <!-- Loading animation -->
    <div class="preloader">
        <div class="preloader-animation">
            <div class="preloader-spinner">
            </div>
        </div>
    </div>
    <!-- /Loading animation -->

    <div class="page">
        <div class="page-content">

            <%- include('base/header.ejs') %>

            <!-- Mobile Navigation -->
            <div class="menu-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <!-- End Mobile Navigation -->

            <!-- Arrows Nav -->
            <div class="lmpixels-arrows-nav">
                <div class="lmpixels-arrow-right"><i class="lnr lnr-chevron-right"></i></div>
                <div class="lmpixels-arrow-left"><i class="lnr lnr-chevron-left"></i></div>
            </div>
            <!-- End Arrows Nav -->

            <div class="content-area">
                <div class="animated-sections">
                    <!-- Home Subpage -->
                    <%- include('base/home.ejs') %>
                    <!-- End of Home Subpage -->

                    <!-- About Me Subpage -->
                    <%- include('base/aboutme.ejs') %>
                    <!-- End of About Me Subpage -->

                    <% if(societeclient.poste && societeclient.nom) { %>

                    <!-- Enterprise Subpage -->
                    <%- include('base/enterprise.ejs') %>
                    <!-- End of Enterprise Subpage -->

                    <% } %>



                    <!-- Resume Subpage -->
                    <%- include('base/resume.ejs') %>
                    <!-- End of Resume Subpage -->

                    <!-- Portfolio Subpage -->
                    <%- include('base/portfolio.ejs') %>
                    <!-- End of Portfolio Subpage -->

                    <!-- Blog Subpage -->
                    <%- include('base/blog.ejs') %>
                    <!-- End of Blog Subpage -->

                    <!-- Contact Subpage -->
                    <%- include('base/contact.ejs') %>
                    <!-- End of Contact Subpage -->
                </div>
            </div>

        </div>
    </div>

    <%- include('base/script.ejs') %>

</body>

</html>