<% extend('base/security') %>


                <!-- Horizontal Form-->
                <div class="col-xs-12 col-sm-12 col-md-8 offset-md-2  col-lg-6 offset-lg-4">
                    <div class="card">
                      <div class="card-header d-flex justify-content-center">
                        <h3 class="h4">GeassCard : Connexion</h3>
                      </div>
                      <div class="card-body ">
                          <div class="text-center">
                            <% if(locals.error) { %>
                              <p class="d-flex justify-content-center text-danger"><%= error %></p>
                            <% } else { %>
                              <p class="d-flex justify-content-center">Votre espace de connexion</p>
                            <% } %>
                          </div>
                        
                        <form method="post" action="/login">
                          <div class="form-group col-xs-12 col-sm-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1" class="">
                            <label class="form-control-label d-flex justify-content-center">Email</label>
                            <input id="inputEmail" name="username" type="email" placeholder="Votre adresse email" class="form-control" style="text-align: center" required 
                            value=
                                <% if (locals.info) { %>
                                  <%= info.username %>
                                <% } %>							
                              >
                          </div>
                          <div class="form-group col-xs-12 col-sm-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1">       
                            <label class="form-control-label d-flex justify-content-center">Mot de passe</label>
                            <input id="inputPass" name="password" type="password" placeholder="Votre mot de passe" class="form-control" style="text-align: center" required>
                          </div>
                          <div class="form-group d-flex justify-content-around col-xs-10 offset-xs-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">       
                            <button id="submit" type="submit" class="btn btn-primary" disabled>Valider</button>
                            <button id="reset" type="reset" class="btn btn-danger" disabled>Effacer</button>
                          </div>
                          <div class="row d-flex justify-content-around">
                            <a href="/register" class="text-success">Pas encore inscrit ???</a>
                            <a href="/passforgot" class="text-warning">Mot de passe oublié</a>   
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <!-- JavaScript files-->
    <script src="/template/dash2/vendor/jquery/jquery.min.js"></script>
    <script src="/template/dash2/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="/template/dash2/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/template/dash2/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="/template/dash2/vendor/chart.js/Chart.min.js"></script>
    <script src="/template/dash2/vendor/jquery-validation/jquery.validate.min.js"></script>
    <!-- Main File-->
    <script src="/template/dash2/js/front.js"></script>
    <script>

        $(document).ready(() => {
            var valid = $('#submit')
            var reset = $('#reset')
            var etat  = valid.attr('disabled')
            
            var email = $('#inputEmail')
            var pass  = $('#inputPass')

            email.on("input", () => {
                //$('#view').text(email.val())

                if (email.val().length !== 0) {
                  valid.prop('disabled', false)
                  reset.prop('disabled', false)
                } else {
                  valid.prop('disabled', true)
                  reset.prop('disabled', true)
                }
            })

            pass.on("input", () => {
                //$('#view').text(email.val())

                if (pass.val().length !== 0) {
                  valid.prop('disabled', false)
                  reset.prop('disabled', false)
                } else {
                  valid.prop('disabled', true)
                  reset.prop('disabled', true)
                }
            })
        })
        



    </script>
