<% extend('base/security') %>

                <!-- Inline Form-->
                <div class="col-xs-12 col-sm-12 col-md-8 offset-md-2  col-lg-6 offset-lg-4">                           
                    <div class="card">
                        <div class="card-header d-flex justify-content-center">
                            <h3 class="h4">GeassCard : Réinitialisation du mot de passe</h3>
                        </div>
                        <div class="card-body">
                            <form class="form-inline col-12">
                                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-10 offset-lg-1 d-flex justify-content-between">
                                    <input id="pass" name="pass" type="text" placeholder="Nouveau mot de passe" class="mr-5 form-control" style="text-align: center" required>
                                    <button id="submit" type="submit" class="btn btn-primary" disabled>Valider</button>
                                </div>
                                <div class="line"></div>
                                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-10 offset-lg-1 d-flex justify-content-between">
                                    <input id="cfpass" name="cfpass" type="text" placeholder="Le même mot de passe" class="mr-5 form-control" style="text-align: center" required>
                                    <button id="reset" type="reset" class="btn btn-danger" disabled>Effacer</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <!-- JavaScript files-->
    <script src="/template/dash2/vendor/jquery/jquery.min.js"></script>
    <script src="/template/dash2/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="/template/dash2/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/template/dash2/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="/template/dash2/vendor/chart.js/Chart.min.js"></script>
    <script src="/template/dash2/vendor/jquery-validation/jquery.validate.min.js"></script>
    <!-- Main File-->
    <script src="/template/dash2/js/front.js"></script>
    <script>

        $(document).ready(() => {
            var valid = $('#submit')
            var reset = $('#reset')
            var etat  = valid.attr('disabled')
            
            var pass = $('#pass')
            var cfpass = $('#cfpass')

            pass.on("input", () => {
                //$('#view').text(email.val())

                if (pass.val().length !== 0) {
                  valid.prop('disabled', false)
                  reset.prop('disabled', false)
                } else {
                  valid.prop('disabled', true)
                  reset.prop('disabled', true)
                }
            })

            cfpass.on("input", () => {
                //$('#view').text(email.val())

                if (cfpass.val().length !== 0) {
                  valid.prop('disabled', false)
                  reset.prop('disabled', false)
                } else {
                  valid.prop('disabled', true)
                  reset.prop('disabled', true)
                }
            })
        })
        



    </script>
