<% extend('base/security') %>

                <!-- Inline Form-->
                <div class="col-xs-12 col-sm-12 col-md-8 offset-md-2  col-lg-6 offset-lg-4">                           
                    <div class="card">
                        <div class="card-header d-flex justify-content-center">
                            <h3 class="h4">GeassCard : Mot de passe oublié</h3>
                        </div>
                        <div class="card-body">
                            <form class="form-inline col-12">
                                <div class="form-group col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                    <label for="inlineFormInput" class="sr-only">Email</label>
                                    <input id="inlineFormInput" type="text" placeholder="Votre adresse email" class="mr-5 form-control" style="text-align: center" required>
                                </div>
                                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4  d-flex justify-content-around">
                                    <button id="submit" type="submit" class="btn btn-primary" disabled>Valider</button>
                                    <button id="reset" type="reset" class="btn btn-danger" disabled>Effacer</button>
                                </div>
                            </form>
                            <div class="line"></div>
                            <div class="row text-success col-8 offset-4">Email bien envoyé</div>
                        </div>
                    </div>
                </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <!-- JavaScript files-->
    <script src="/template/dash2/vendor/jquery/jquery.min.js"></script>
    <script src="/template/dash2/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="/template/dash2/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/template/dash2/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="/template/dash2/vendor/chart.js/Chart.min.js"></script>
    <script src="/template/dash2/vendor/jquery-validation/jquery.validate.min.js"></script>
    <!-- Main File-->
    <script src="/template/dash2/js/front.js"></script>
    <script>

        $(document).ready(() => {
            var valid = $('#submit')
            var reset = $('#reset')
            var etat  = valid.attr('disabled')
            
            var email = $('#inlineFormInput')

            email.on("input", () => {
                //$('#view').text(email.val())

                if (email.val().length !== 0) {
                  valid.prop('disabled', false)
                  reset.prop('disabled', false)
                } else {
                  valid.prop('disabled', true)
                  reset.prop('disabled', true)
                }
            })
        })
        



    </script>
