<% extend('base/security') %>

<!-- Horizontal Form-->
<div class="col-xs-12 col-sm-12 col-md-8 offset-md-2  col-lg-8 ">
  <div class="card">
    <div class="card-header d-flex align-items-center">
      <h3 class="h4">GeassCard : Enregistrement</h3>
    </div>
    <div class="card-body">
      <% if(locals.error) { %>
      <p class="text-danger"><%= error %></p>
      <% } else { %>
      <p>Rapide, facile et surtout flexible</p>
      <% } %>
      <form method="post" action="/register/<% if(locals.code) { %><%= code %><% } %>" class="form-horizontal">
        <div class="form-group row">
          <label class="col-sm-3 form-control-label">Nom</label>
          <div class="col-sm-9">
            <input id="inputHorizontalSuccess" type="text" name="nom" placeholder="Votre nom"
              class="form-control form-control-success" required value=<% if (locals.info) { %> <%= info.nom %> <% } %>>
            <small class="form-text"></small>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 form-control-label">Prenom</label>
          <div class="col-sm-9">
            <input id="inputHorizontalSuccess" type="text" name="prenom" placeholder="Votre prenom"
              class="form-control form-control-success" required value=<% if (locals.info) { %> <%= info.prenom %>
              <% } %>>
            <small class="form-text"></small>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 form-control-label">Genre</label>
          <div class="col-sm-9">
            <select class="custom-select" name="genre" required>
              <option value="">Choisissez votre genre</option>
              <option value="masculin">Masculin</option>
              <option value="feminin">Feminin</option>
            </select>
          </div>
          <div class="valid-feedback">Merci</div>
          <div class="invalid-feedback">Obligatoire</div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 form-control-label">Email</label>
          <div class="col-sm-9">
            <input id="inputHorizontalSuccess" type="email" name="email" placeholder="Votre adresse email"
              class="form-control form-control-success" required value=<% if (locals.info) { %> <%= info.email %>
              <% } %>>
            <small class="form-text">Il sera utilisé pour une confirmation</small>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 form-control-label">Mot de passe</label>
          <div class="col-sm-9">
            <input id="inputHorizontalWarning1" type="password" name="motdepasse" placeholder="Votre mot de passe"
              class="form-control form-control-warning" required>
            <small class="form-text">Ce sera votre pass de connexion</small>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 form-control-label">Confirmation</label>
          <div class="col-sm-9">
            <input id="inputHorizontalWarning2" type="password" name="cfmotdepasse"
              placeholder="Votre mot de passe encore" class="form-control form-control-warning" required>
            <small class="form-text">Ce sera votre pass de connexion</small>
          </div>
        </div>
        <div id="check1" class=" row i-checks col-sm-9 offset-sm-3">
          <input name="acceptcondition" id="checkboxCustom1" type="checkbox" value="ok" class="checkbox-template" required>
          <label for="checkboxCustom1">J'accepte les termes et conditions <br> et la politique de
            confidentialité</label>
        </div>
        <div id="check2" class=" row i-checks col-sm-9 offset-sm-3">
          <input name="acceptnews" id="checkboxCustom2" type="checkbox" value="ok" checked="" class="checkbox-template">
          <label for="checkboxCustom2">Je m'abonne à la newletter</label>
        </div>
        <br><span id="view"></span>
        <div class="form-group row">
          <div class="col-sm-9 offset-sm-3">
            <button id="valid" class="btn btn-primary" type="submit">Valider</button>
            <button id="reset" class="btn btn-danger" type="reset">Effacer</button>
          </div>
        </div>
        <div class="row d-flex justify-content-end">
          <a href="/login" class="text-success">Déja inscrit ???</a>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
</div>
</section>
</div>
</div>
</div>
<!-- JavaScript files-->
<script src="/template/dash2/vendor/jquery/jquery.min.js"></script>
<script src="/template/dash2/vendor/popper.js/umd/popper.min.js"> </script>
<script src="/template/dash2/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/template/dash2/vendor/jquery.cookie/jquery.cookie.js"> </script>
<script src="/template/dash2/vendor/chart.js/Chart.min.js"></script>
<script src="/template/dash2/vendor/jquery-validation/jquery.validate.min.js"></script>
<!-- Main File-->
<script src="/template/dash2/js/front.js"></script>