<% extend('base/security') %>

                <!-- Horizontal Form-->
                <div class="col-xs-12 col-sm-12 col-md-8 offset-md-2  col-lg-6 offset-lg-4">
                  <div class="card">                    
                    <div class="card-header d-flex align-items-center">
                      <h3 class="h4">GeassCard : Enregistrement</h3>
                    </div>
                    <div class="card-body">
                        <p>Rapide, facile et surtout flexible</p>
                        <form class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-sm-3 form-control-label">Nom</label>
                            <div class="col-sm-9">
                                <input id="inputName" type="text" placeholder="Votre nom" class="form-control form-control-success" required>
                                <small class="form-text"></small>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 form-control-label">Prenom</label>
                            <div class="col-sm-9">
                                <input id="inputLname" type="text" placeholder="Votre prenom" class="form-control form-control-success" required>
                                <small class="form-text"></small>
                            </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-3 form-control-label">Email</label>
                          <div class="col-sm-9">
                            <input id="inputHorizontalSuccess" type="email" placeholder="Votre adresse email" class="form-control form-control-success" required>
                            <small class="form-text">Il sera utilisé pour une confirmation</small>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-3 form-control-label">Mot de passe</label>
                          <div class="col-sm-9">
                            <input id="inputHorizontalWarning" type="password" placeholder="Votre mot de passe" class="form-control form-control-warning" required>
                            <small class="form-text">Ce sera votre pass de connexion</small>
                          </div>
                        </div>
                        <div id="check1" class=" row i-checks col-sm-9 offset-sm-3">
                            <input id="checkboxCustom1" type="checkbox" value="ok" class="checkbox-template">
                            <label for="checkboxCustom1">J'accepte les termes et conditions <br> et la politique de confidentialité</label>
                        </div>
                        <div id="check2" class=" row i-checks col-sm-9 offset-sm-3">
                            <input id="checkboxCustom2" type="checkbox" value="ok" checked="" class="checkbox-template">
                            <label for="checkboxCustom2">Je m'abonne à la newletter</label>
                        </div>
                        <br><span id="view"></span>
                        <div class="form-group row">       
                          <div class="col-sm-9 offset-sm-3">
                            <button id="valid" class="btn btn-primary" type="submit" disabled>Valider</button>
                            <button id="reset" class="btn btn-danger" type="reset">Effacer</button>
                          </div>
                        </div>
                        <div class="row d-flex justify-content-end">
                            <a href="/login" class="text-success">Déja inscrit ???</a>   
                          </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <!-- JavaScript files-->
    <script src="/template/dash2/vendor/jquery/jquery.min.js"></script>
    <script src="/template/dash2/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="/template/dash2/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/template/dash2/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="/template/dash2/vendor/chart.js/Chart.min.js"></script>
    <script src="/template/dash2/vendor/jquery-validation/jquery.validate.min.js"></script>
    <!-- Main File-->
    <script src="/template/dash2/js/front.js"></script>
    <script>

        $(document).ready(() => {
            var check1 = $('#check1')
            var valid = $('#valid')
            var etat  = valid.attr('disabled')
            
            function validateEmail(email) {
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(String(email).toLowerCase());
            }
            var nom   = $('#inputName')
            var prenom= $('#inputLname')
            var email = $('#inputHorizontalSuccess')
            var pass  = $('#inputHorizontalwarning')
/**
            email.on("input", () => {
                $('#view').text(email.val())
                if (!validateEmail(email)) {
                  email.addClass('is-invalid')
                  console.log(!validateEmail(email))
                } else {
                  email.addClass('is-valid')
                  console.log(!validateEmail(email))
                }
            })

**/            check1.click(() => {
                        // Troisième méthode
                $("input[type=checkbox]:checked").each( 
                    function() { 

                        if (etat === 'disabled') {
                            valid.prop('disabled', false)
                            etat = "undefined"
                        } else {
                            valid.prop('disabled', true)
                            etat = "disabled"
                        }

                    } 
                );
            })
        })
        



    </script>
