<% if (typeform == "client") { %>
    <%- include('./register_client') %>
  <% } %>
  <% if (typeform == "superviseur") { %>
    <%- include('./register_supervisor') %>
  <% } %>
  <% if (typeform == "presta") { %>
    <%- include('./register_presta') %>
  <% } %>