    <script src="/template/dash2/vendor/jquery/jquery.min.js"></script>
    <script src="/template/dash2/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="/template/dash2/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/template/dash2/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="/template/dash2/vendor/chart.js/Chart.min.js"></script>
    <script src="/template/dash2/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="/template/dash2/js/charts-home.js"></script>
    <!-- Main File-->
    <script src="/template/dash2/js/front.js"></script>

    <script>
        $(document).ready(() => {
          $('#pay_mobile').click(() => {
            alert("<% if (locals.message) { %><%= message %><% } %>")
          })
          $('#pay_bank').click(() => {
            alert("<% if (locals.message) { %><%= message %><% } %>")
          })
        
      })
      
      </script>
    