
<% if(error.status != 404) { %>
    <%- include('./404_page/1.ejs') %>
<% } %>

<% /*  %>  if(error.status == 500) { %>

    <%- /* include('./404_page/1.ejs') %>
    <h1><%=/*message %></h1>
<h2><%= /*error.status %></h2>
<pre><%= /*error.stack %></pre>
<% /*} %>
