<!DOCTYPE html>
<html lang="fr">
    <%- include('./homebase/head') %>
  

<body>

  <!--.preloader-->
  <div class="preloader"> <i class="fa fa-circle-o-notch fa-spin"></i></div>
  <!--/.preloader-->
  <%- include('./homebase/header') %>
  
  <%- include('./homebase/services') %>
  
  <%- include('./homebase/about') %>
  

  <%- include('./homebase/gallery') %>
  

  <%- include('./homebase/team') %>
  

 
  
  <%- include('./homebase/pricing') %>
 

  <%- include('./homebase/testimony') %>
  

  <%- include('./homebase/contact') %>
  
  <%- include('./homebase/footer') %>

  <%- include('./homebase/script') %>

</body>
</html>