<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/frame/materialize/css/materialize.min.css' />
    <link rel='stylesheet' href='/frame/bootstrap/css/bootstrap.min.css' />
  </head>
  <body>
    <div class="container">
      <h1 class="orange-text">GeassCard</h1>
      <h3>Bienvenue <span class="orange-text">:<)</span></h3>
      <br><br><br>
      

      

    </div>

    <script src="/frame/materialize/js/materialize.min.js"></script>
    <script src="/frame/bootstrap/js/bootstrap.min.js"></script>
    <script src="/javascripts/jquery.min.js"></script>
    <script></script>
  </body>
</html>
