<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/frame/materialize/css/materialize.min.css' />
  <link rel='stylesheet' href='/frame/bootstrap/css/bootstrap.min.css' />
</head>

<body>
  <div class="container">
    <h1 class="orange-text">GeassCard</h1>
    <h3>Bienvenue <span class="orange-text">:<)</span> </h3> <br><br><br>
          <!--
      <div class="col-4 offset-4">
        <img src="" alt="codeqr">
      </div>
    -->
          <form action="/test" method="POST" enctype="multipart/form-data">
            <h4>File Upload</h4>
            <%= typeof msg != 'undefined' ? msg : ' ' %>
            <div class="file-field input-field">
              <div class="btn">
                <h6>Upload</h6>

                <input name="myImage" type="file">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
            <button class="btn" type="submit">Envoyer</button>
          </form>


  </div>

  <script src="/frame/materialize/js/materialize.min.js"></script>

  <script src="/javascripts/jquery.min.js"></script>
  <script></script>
</body>

</html>