<html>
    <body>
        <form action="/users/charge" method="post">
            <article >
                <label for=""> $10.03</label>
            </article>
            <script 
                src="https://checkout.stripe.com/v2/checkout.js"
                class="stripe-button"
                data-key="<%= keyp %>"
                data-locale="auto"
                data-description="Sample Charge"
                data-amount="500"
                >
            </script>
        </form>
    </body>
</html>