<%- extend('../baseroot') %>

<!-- Breadcrumb-->
<div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="/compte/root/gestion_parrainage">Gestion Parrainage</a></li>
      <li class="breadcrumb-item"><a href="/compte/root/gestion_parrainage/liste_parrains">Liste Des Parrains</a></li>
      <li class="breadcrumb-item active">Liste Des Filleuls Du Parrain <%= codeParrain %></li>
    </ul>
</div>

  <section class="tables">   
    <div class="container-fluid">
        <div class="col-xs-12 col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
           

          <div class="card">
            <div class="card-header d-flex align-items-center">
              <h3 class="h4">Liste Filleuls</h3>
            </div>
            <div class="card-body">
              <div class="table-responsive">                       
                <% if(locals.info == "yes") { %>
                  <table class="table table-striped table-hover">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Email</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for (filleul of filleuls) { %>
                        <tr>
                            <th scope="row"><%= filleul.codeFilleul %></th>
                                <td>
                                    <%= filleul.email %>
                                </td>
                          </tr>
                        <% } %>
                      </tbody>
                    </table>
                <% } else { %>
                  <div class="alert alert-info">Aucun Filleul Enregistré Au Compte Du Parrain <%= codeParrain %></div>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>