<%- extend('../baseroot') %>

<!-- Breadcrumb-->
<div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="/compte/root/gestion_parrainage">Gestion Parrainage</a></li>
      <li class="breadcrumb-item active">Liste Des Parrains</li>
    </ul>
</div>

  <section class="tables">   
    <div class="container-fluid">
        <div class="col-xs-12 col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
           

          <div class="card">
            <div class="card-header d-flex align-items-center">
              <h3 class="h4">Liste Parrains</h3>
            </div>
            <div class="card-body">
              <div class="table-responsive">                       
                <% if(locals.info == "yes") { %>
                  <table class="table table-striped table-hover">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Nom</th>
                          <th>Prénoms</th>
                          <th>Info Parrain</th>
                          <th>Liste Filleul(s)</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for (parrain of parrains) { %>
                          <tr>
                              <th scope="row"><%= parrain.codeParrain %></th>
                              <td><%= parrain.nom %></td>
                              <td><%= parrain.prenom %></td>
                              <td>
                                <a href="/compte/root/gestion_client/voir/<%= parrain.codeParrain %>"
                                  class="btn btn-outline-info">
                                  Voir
                              </a>
                            </td>
                              <td>
                                  <a href="/compte/root/gestion_parrainage/<%= parrain.codeParrain %>/liste_filleuls"
                                    class="btn btn-outline-info">
                                    Voir
                                </a>
                              </td>
                          </tr>
                        <% } %>
                      </tbody>
                    </table>
                <% } else { %>
                  <div class="alert alert-info">Aucun Parrain Enregistré</div>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>