<%- extend('../baseroot') %>

<!-- Breadcrumb-->
<div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="/compte/root/gestion_superviseur">Gestion Superviseur</a> </li>
      <li class="breadcrumb-item">Liste Inscrits</li>
    </ul>
</div>
  <section class="tables">   
    <div class="container-fluid">
        <div class="col-xs-12 col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
          <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between">
              <h3 class="h4">Liste Superviseurs</h3>
              <% if(locals.info == "yes") { %>
                <form class="form-inline">
                  <div class="form-group">
                    <input id="inputsearch" type="text" placeholder="nom ou email" class="mr-3 form-control" style="text-align: center">
                  </div>
                </form>
              <% } else { %>

              <% } %>
            </div>
            <div class="card-body">
              <div class="table-responsive">                       
                <% if(locals.info == "yes") { %>
                  <table class="table table-striped table-hover">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Nom</th>
                          <th>Prénoms</th>
                          <th>Email</th>
                          <th>Détails</th>
                          <th>Suppression</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for(superviseur of superviseurs) { %>
                          <tr>
                            <th scope="row"><%= superviseur.codeUser %></th>
                            <td><%= superviseur.nom %></td>
                            <td><%= superviseur.prenom %></td>
                            <td><%= superviseur.username %></td>
                            <td>
                              <% if(superviseur.status == "superviseur") { %>
                                <a href="/compte/root/gestion_superviseur/voir/<%= superviseur.codeUser %>" class="btn btn-outline-primary">Voir</a>
                              <% } else { %>
                                <a href="/compte/root/gestion_superviseur/voir/<%= superviseur.codeUser %>" aria-disabled="true" class="btn btn-outline-primary">Voir</a>
                              <% } %>
                            </td>
                            <td>
                                <a href="/compte/root/gestion_superviseur/supp/<%= superviseur.codeUser %>" class="btn btn-outline-danger">Executer</a>
                            </td>
                          </tr>
                        <% } %>
                      </tbody>
                    </table>
                <% } else { %>
                  <div class="text-center alert alert-danger">Aucuns Superviseurs Inscrits</div>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>