<nav class="side-navbar">
    <!-- Sidebar Header-->
    <div class="sidebar-header d-flex align-items-center">
      <div class="avatar"><img src="/template/dash2/img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
      <div class="title">
        <h1 class="h4"><%= ident %></h1>
        <p><%= role %></p>
      </div>
    </div>
    <!-- Sidebar Navidation Menus--><span class="heading">Menu</span>
    <ul class="list-unstyled">
      <li class="">
        <a href="/compte/presta"> <i class="icon-home"></i>Bienvenue</a>
      </li>
      <li class="active">
        <a href="/compte/presta/gestion_commande"> <i class="icon-home"></i>Gestion Commande</a>
      </li>
      <li class="">
        <a href="/compte/presta/hist_commande"> <i class="icon-home"></i>Historique Commande</a>
      </li>
    </ul>
</nav>
    
