body {
    background-color: #2F3242;
  }
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -400px;
  }
  .message-box {
    height: 200px;
    width: 380px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: 50px;
    color: #FFF;
    font-family: Roboto;
    font-weight: 300;
  }
  .message-box h1 {
    font-size: 60px;
    line-height: 46px;
    margin-bottom: 40px;
  }
  .buttons-con .action-link-wrap {
    margin-top: 40px;
  }
  .buttons-con .action-link-wrap a {
    background: #68c950;
    padding: 8px 25px;
    border-radius: 4px;
    color: #FFF;
    font-weight: bold;
    font-size: 14px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px
  }
  .buttons-con .action-link-wrap a:hover {
    background: #5A5C6C;
    color: #fff;
  }
  
  #Polygon-1 , #Polygon-2 , #Polygon-3 , #Polygon-4 , #Polygon-4, #Polygon-5 {
    -webkit-animation: float 1s infinite ease-in-out alternate;
            animation: float 1s infinite ease-in-out alternate;
  }
  #Polygon-2 {
    -webkit-animation-delay: .2s;
            animation-delay: .2s; 
  }
  #Polygon-3 {
    -webkit-animation-delay: .4s;
            animation-delay: .4s; 
  }
  #Polygon-4 {
    -webkit-animation-delay: .6s;
            animation-delay: .6s; 
  }
  #Polygon-5 {
    -webkit-animation-delay: .8s;
            animation-delay: .8s; 
  }
  
  @-webkit-keyframes float {
      100% {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
    }
  }
  
  @keyframes float {
      100% {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
    }
  }
  @media (max-width: 450px) {
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -250px;
      margin-left: -190px;
    }
    .message-box {
      top: 50%;
      left: 50%;
      margin-top: -100px;
      margin-left: -190px;
      text-align: center;
    }
  }