<%- extend('../../baseclient') %>

<div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 mt-5">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <h3 class="h4">Informations Sur Vos Réseaux Sociaux</h3>
        </div>
        <div class="card-body">
                <% if (locals.error) { %>
                    <div class="alert alert-danger"><%= error %></div>
                <% } else { %>
                    <p>Entrez vos informations</p>
                <% }%>
        <form method="POST" action="/compte/client/gestion_data/modifdata/inforesociaux" class="form-horizontal">
            <div class="form-group row">
                <label for="nptwitter" class="col-sm-3 form-control-label">Nom Profil Twitter</label>
                <div class="col-sm-9">
                    <input id="nptwitter" name="nptwitter" type="text" placeholder="Votre nom de profil" class="form-control form-control-success"
                    value=
                        <% if (locals.info) { %>
                            <%= info.nptwitter %>
                        <% } %>
                        <% if (locals.infosocial) { %>
                            <%= infosocial.nomProfilTwitter %>
                        <% } %>
                    >
                </div>
            </div>
            <div class="form-group row">
                <label for="ltwitter" class="col-sm-3 form-control-label">Lien Profil Twitter</label>
                <div class="col-sm-9">
                    <input id="lptwitter" name="lptwitter" type="text" placeholder="Votre lien de profil" class="form-control form-control-warning"
                    value=
                        <% if (locals.info) { %>
                            <%= info.lptwitter %>
                        <% } %>
                        <% if (locals.infosocial) { %>
                            <%= infosocial.lienTwitter %>
                        <% } %>
                    >
                </div>
            </div>
            <div class="form-group row">
                <label for="nptwitter" class="col-sm-3 form-control-label">Nom Profil Facebook</label>
                <div class="col-sm-9">
                    <input id="npfacebook" name="npfacebook" type="text" placeholder="Votre nom de profil" class="form-control form-control-success"
                    value=
                        <% if (locals.info) { %>
                            <%= info.npfacebook %>
                        <% } %>
                        <% if (locals.infosocial) { %>
                            <%= infosocial.nomProfilFacebook %>
                        <% } %>
                    >
                </div>
            </div>
            <div class="form-group row">
                <label for="ltwitter" class="col-sm-3 form-control-label">Lien Profil Facebook</label>
                <div class="col-sm-9">
                    <input id="lpfacebook" name="lpfacebook" type="text" placeholder="Votre lien de profil" class="form-control form-control-warning"
                    value=
                        <% if (locals.info) { %>
                            <%= info.lpfacebook %>
                        <% } %>
                        <% if (locals.infosocial) { %>
                            <%= infosocial.lienFacebook %>
                        <% } %>
                    >
                </div>
            </div>
            <div class="form-group row">
                <label for="nptwitter" class="col-sm-3 form-control-label">Nom Profil Skype</label>
                <div class="col-sm-9">
                    <input id="npskype" name="npskype" type="text" placeholder="Votre nom de profil" class="form-control form-control-success"
                    value=
                        <% if (locals.info) { %>
                            <%= info.npskype %>
                        <% } %>
                        <% if (locals.infosocial) { %>
                            <%= infosocial.nomProfilSkype %>
                        <% } %>
                    >
                </div>
            </div>
            <div class="form-group row">
                <label for="ltwitter" class="col-sm-3 form-control-label">Lien Profil Skype</label>
                <div class="col-sm-9">
                    <input id="lpskype" name="lpskype" type="text" placeholder="Votre lien de profil" class="form-control form-control-warning"
                    value=
                        <% if (locals.info) { %>
                            <%= info.lpskype %>
                        <% } %>
                        <% if (locals.infosocial) { %>
                            <%= infosocial.lienSkype %>
                        <% } %>
                    >
                </div>
            </div>
            <div class="form-group row">
                <label for="nptwitter" class="col-sm-3 form-control-label">Nom Profil LinkedIn</label>
                <div class="col-sm-9">
                    <input id="nplinkedin" name="nplinkedin" type="text" placeholder="Votre nom de profil" class="form-control form-control-success"
                    value=
                        <% if (locals.info) { %>
                            <%= info.nplinkedin %>
                        <% } %>
                        <% if (locals.infosocial) { %>
                            <%= infosocial.nomProfilLinkedin %>
                        <% } %>
                    >
                </div>
            </div>
            <div class="form-group row">
                <label for="ltwitter" class="col-sm-3 form-control-label">Lien Profil LinkedIn</label>
                <div class="col-sm-9">
                    <input id="lplinkedin" name="lplinkedin" type="text" placeholder="Votre lien de profil" class="form-control form-control-warning"
                    value=
                        <% if (locals.info) { %>
                            <%= info.lplinkedin %>
                        <% } %>
                        <% if (locals.infosocial) { %>
                            <%= infosocial.lienLinkedin %>
                        <% } %>
                    >
                </div>
            </div>
            <div class="form-group row">
                <label for="nptwitter" class="col-sm-3 form-control-label">Nom Profil Google+</label>
                <div class="col-sm-9">
                    <input id="npgoogleplus" name="npgoogleplus" type="text" placeholder="Votre nom de profil" class="form-control form-control-success"
                    value=
                        <% if (locals.info) { %>
                            <%= info.npgoogleplus %>
                        <% } %>
                        <% if (locals.infosocial) { %>
                            <%= infosocial.nomProfilGooglePlus %>
                        <% } %>
                    >
                </div>
            </div>
            <div class="form-group row">
                <label for="ltwitter" class="col-sm-3 form-control-label">Lien Profil Google+</label>
                <div class="col-sm-9">
                    <input id="lpgoogleplus" name="lpgoogleplus" type="text" placeholder="Votre lien de profil" class="form-control form-control-warning"
                    value=
                        <% if (locals.info) { %>
                            <%= info.lpgoogleplus %>
                        <% } %>
                        <% if (locals.infosocial) { %>
                            <%= infosocial.lienGooglePlus %>
                        <% } %>
                    >
                </div>
            </div>
            <div class="form-group row">
                <label for="nptwitter" class="col-sm-3 form-control-label">Nom Profil Instagram</label>
                <div class="col-sm-9">
                    <input id="npinstagram" name="npinstagram" type="text" placeholder="Votre nom de profil" class="form-control form-control-success"
                    value=
                        <% if (locals.info) { %>
                            <%= info.npinstagram %>
                        <% } %>
                        <% if (locals.infosocial) { %>
                            <%= infosocial.nomProfilInstagram %>
                        <% } %>
                    >
                </div>
            </div>
            <div class="form-group row">
                <label for="ltwitter" class="col-sm-3 form-control-label">Lien Profil Instagram</label>
                <div class="col-sm-9">
                    <input id="lpinstagram" name="lpinstagram" type="text" placeholder="Votre lien de profil" class="form-control form-control-warning"
                    value=
                        <% if (locals.info) { %>
                            <%= info.lpinstagram %>
                        <% } %>
                        <% if (locals.infosocial) { %>
                            <%= infosocial.lienInstagram %>
                        <% } %>
                    >
                </div>
            </div>
            <div class="form-group row">
                <label for="nptwitter" class="col-sm-3 form-control-label">Nom Profil Viadeo</label>
                <div class="col-sm-9">
                    <input id="npviadeo" name="npviadeo" type="text" placeholder="Votre nom de profil" class="form-control form-control-success"
                    value=
                        <% if (locals.info) { %>
                            <%= info.npviadeo %>
                        <% } %>
                        <% if (locals.infosocial) { %>
                            <%= infosocial.nomProfilViadeo %>
                        <% } %>
                    >
                </div>
            </div>
            <div class="form-group row">
                <label for="ltwitter" class="col-sm-3 form-control-label">Lien Profil Viadeo</label>
                <div class="col-sm-9">
                    <input id="lpviadeo" name="lpviadeo" type="text" placeholder="Votre lien de profil" class="form-control form-control-warning"
                    value=
                        <% if (locals.info) { %>
                            <%= info.lpviadeo %>
                        <% } %>
                        <% if (locals.infosocial) { %>
                            <%= infosocial.lienViadeo %>
                        <% } %>
                    >
                </div>
            </div>
            
            <div class="form-group row">       
                <div class="col-sm-9 offset-sm-3">
                    <input type="submit" value="Valider" class="btn btn-primary">
                    <input type="reset" value="Effacer" class="btn btn-danger">
                </div>
            </div>
        </form>
      </div>
    </div>
  </div>
