<%- extend('../baseclient') %>

<br><br>
<div class="row" style="text-align: center;">

    <div class="col-md-4 offset-md-2">
        <div class="card ">
            <img src="/asset/img/portfolio.png" class="card-img-top" alt="info " 
            style="width: 40%; margin-left: 30%;">
            <div class="card-body">
                <h1 class="card-title">
                    Actu Clients
                </h1>
                <a href="" class="btn btn-primary">Voir Plus</a>
            </div>
        </div>
    </div>


</div>