<%- extend('baseroot') %>

<div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="">Gestion Filleuls</a></li>
      <li class="breadcrumb-item active">Liste</li>
    </ul>
</div>
<section class="tables">   
  <div class="container-fluid">
      <div class="col-xs-12 col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <div class="card">
          <div class="card-header d-flex align-items-center justify-content-between">
            <h3 class="h4">Liste Bons De Reduction</h3>
            <a href="/compte/root/gestion_reduction/new" class="btn btn-outline-primary">Nouveau Bon De Reduction</a>
          </div>
          <div class="card-body">
            <div class="table-responsive">                       
              <% if(locals.info == "yes") { %>
                <table class="table table-striped table-hover">
                    <thead>
                      <tr>
                          <th>Etat</th>
                          <th>Code Reduction</th>
                          <th>Somme Reduction</th>
                          <th>Activation</th>
                          <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for(reduction of reductions) { %>
                        <tr>
                          <th scope="row">
                              <% if(reduction.activeReduction == 0) { %>
                                  <p style="color : red;">Désactivé</p>
                              <% } else {%> 
                                  <p style="color : green;">Activé</p>
                              <% } %>
                          </th>
                          <td><%= reduction.codeReduction %></td>
                          <td><%= reduction.sommeReduction %></td>
                          <td>
                              
                              <% if(reduction.activeReduction == 0) { %>
                                    <a href="/compte/root/gestion_reduction/<%= reduction.codeBdr %>/active" class="btn btn-outline-success">Activer</a>
                              <% } else {%> 
                                  <a href="/compte/root/gestion_reduction/<%= reduction.codeBdr %>/deactive" class="btn btn-outline-danger">Désactiver</a>
                              <% } %>
                          </td>
                          <td>
                              <a href="/compte/root/gestion_reduction/<%= reduction.codeBdr %>/remove" class="btn btn-outline-danger">Supprimer</a>
                          </td>
                        </tr>
                      <% } %>
                    </tbody>
                  </table>
              <% } else { %>
                  <div class="alert alert-warning">Aucun Bon De Reduction Existant</div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>