<%- extend('baseroot') %>

<!-- Breadcrumb-->
<div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="/compte/root/gestion_commande">Gestion Commande</a></li>
      <li class="breadcrumb-item active"></li>
    </ul>
</div>

<div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2" style="margin-top: 5%;">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <h3 class="h4">Gestion Commandes</h3>
        </div>
        <div class="card-body text-center">
            <a href="/compte/root/gestion_commande/nouvelles_commandes" class="btn btn-primary">NOUVELLE(S) COMMANDE(S)</a>
        </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2" style="margin-top: 5%;">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <h3 class="h4">Gestion Commandes</h3>
        </div>
        <div class="card-body text-center">
            <a href="/compte/root/gestion_commande/toutes_commandes" class="btn btn-primary">TOUTES COMMANDES</a>
        </div>
    </div>
  </div>

<div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2" style="margin-top: 5%;">
  <div class="card">
      <div class="card-header d-flex align-items-center">
          <h3 class="h4">Gestion Commandes : Statut 1 => </h3>
      </div>
      <div class="card-body text-center">
          <a href="/compte/root/gestion_commande/statut1" class="btn btn-primary">NON PAYÉE && NON LIVRÉE</a>
      </div>
  </div>
</div>

<div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2" style="margin-top: 5%;">
  <div class="card">
      <div class="card-header d-flex align-items-center">
          <h3 class="h4">Gestion Commandes : Statut 2 => </h3>
      </div>
      <div class="card-body text-center">
          <a href="/compte/root/gestion_commande/statut2" class="btn btn-primary">PAYÉE && NON LIVRÉE</a>
      </div>
  </div>
</div>

<div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2" style="margin-top: 5%;">
  <div class="card">
      <div class="card-header d-flex align-items-center">
          <h3 class="h4">Gestion Commandes : Statut 3 => </h3>
      </div>
      <div class="card-body text-center">
          <a href="/compte/root/gestion_commande/statut3" class="btn btn-primary">NON PAYÉE && LIVRÉE</a>
      </div>
  </div>
</div>

<div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2" style="margin-top: 5%;">
  <div class="card">
      <div class="card-header d-flex align-items-center">
          <h3 class="h4">Gestion Commandes : Statut 4 => </h3>
      </div>
      <div class="card-body text-center">
          <a href="/compte/root/gestion_commande/statut4" class="btn btn-primary">PAYÉE && LIVRÉE (ACHEVÉE)</a>
      </div>
  </div>
</div>

