<%- extend('baseroot') %>

<!-- Breadcrumb-->
<div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="/compte/root/gestion_superviseur">Gestion Client</a></li>
      <li class="breadcrumb-item active"></li>
    </ul>
</div>

<div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2" style="margin-top: 5%;">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <h3 class="h4">Gestion Superviseur</h3>
        </div>
        <div class="card-body text-center">
            <a href="/compte/root/gestion_superviseur/new_superviseur" class="btn btn-primary">NOUVEAU SUPERVISEUR</a>
        </div>
    </div>
  </div>

<div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2" style="margin-top: 5%;">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <h3 class="h4">Gestion Superviseur</h3>
        </div>
        <div class="card-body text-center">
            <a href="/compte/root/gestion_superviseur/nouveaux" class="btn btn-primary">NOUVEAUX INSCRITS</a>
        </div>
    </div>
  </div>

<div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2" style="margin-top: 5%;">
  <div class="card">
      <div class="card-header d-flex align-items-center">
          <h3 class="h4">Gestion Superviseur</h3>
      </div>
      <div class="card-body text-center">
          <a href="/compte/root/gestion_superviseur/inscrits" class="btn btn-primary">INSCRITS</a>
      </div>
  </div>
</div>

<div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2" style="margin-top: 5%;">
  <div class="card">
      <div class="card-header d-flex align-items-center">
          <h3 class="h4">Gestion Superviseur</h3>
      </div>
      <div class="card-body text-center">
          <a href="/compte/root/gestion_superviseur/noinscrits" class="btn btn-primary">NON INSCRITS</a>
      </div>
  </div>
</div>