<%- extend('baseroot') %>

<!-- Breadcrumb-->
<div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="/compte/root/gestion_parrainage">Gestion Parrainage</a></li>
      <li class="breadcrumb-item active"></li>
    </ul>
</div>

<div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2" style="margin-top: 5%;">
  <div class="card">
      <div class="card-header d-flex align-items-center">
          <h3 class="h4">Gestion Parrainage</h3>
      </div>
      <div class="card-body text-center">
          <a href="/compte/root/gestion_parrainage/liste_parrains" class="btn btn-primary">PARRAINS</a>
      </div>
  </div>
</div>

<div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2" style="margin-top: 5%;">
  <div class="card">
      <div class="card-header d-flex align-items-center">
          <h3 class="h4">Gestion Parrainage</h3>
      </div>
      <div class="card-body text-center">
          <a href="/compte/root/gestion_parrainage/liste_filleuls" class="btn btn-primary">FILLEULS</a>
      </div>
  </div>
</div>