<%- extend('baseroot') %>

<div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="/compte/root/historique_systeme">Historique Système</a></li>
      <li class="breadcrumb-item active"></li>
    </ul>
</div>