<%- extend('baseroot') %>

<div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="/compte/root/">Tableau de bord</a></li>
      <li class="breadcrumb-item active"></li>
    </ul>
</div>

<br><br>

<div class="row" style="text-align: center;">

    <div class="col-md-4 offset-md-2">
        <div class="card"">
            <img src="/asset/img/client.jpg" class="card-img-top" alt="info client" width="" height="350">
            <div class="card-body">
              <h1 class="card-title">
                Actu Clients
              </h1>
              <a href="/compte/root/actu_clients" class="btn btn-primary">Voir Plus</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
      <div class="card">
          <img src="/asset/img/commande.jpg" class="card-img-top" alt="info commande" width="" height="350">
          <div class="card-body">
            <h1 class="card-title">
              Actu Commandes
            </h1>
            <a href="/compte/root/actu_commandes" class="btn btn-primary">Voir Plus</a>
          </div>
      </div>
    </div>
    

</div>

<div class="row" style="text-align: center;">
  <div class="col-md-8 offset-md-2">
    <div class="card"">
        <img src="/asset/img/fcfa.jpg" class="card-img-top" alt="info client" width="" height="350">
        <div class="card-body">
          <h1 class="card-title">
            Comptabilité
          </h1>
          <a href="/compte/root/comptabilite" class="btn btn-primary">Voir Plus</a>
        </div>
    </div>
</div>
</div>