<%- extend('baseroot') %>

<!-- Breadcrumb-->
<div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/compte/root/gestion_client">Gestion Client</a></li>
        <li class="breadcrumb-item">Informations</li>
        <li class="breadcrumb-item active"><%= infoperso.codeClient %></li>
    </ul>
</div>
<section class="tables">
    <div class="container-fluid">
        <div class="col-xs-12 col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h3 class="h4">Informations Clients</h3>
                </div>
                <div class="card-body">
                    <div class="row d-flex justify-content-between">
                        <div class="card" style="width: 18rem;">
                            <% if(infofichier.cheminPhotoProfil) {%>
                                <img src="<%= infofichier.cheminPhotoProfil %>" class="card-img-top" alt="Photo de profil actuelle">
                            <% } else { %>
                                <% if(infoperso.sexe == "masculin") { %> 
                                    <img src="/asset/img/bboy.png" class="card-img-top" alt="Photo de profil par défaut (Genre Masculin)">
                                <% } %> 
                                <% if(infoperso.sexe == "feminin") { %> 
                                    <img src="/asset/img/bgirl.png" class="card-img-top" alt="Photo de profil par défaut (Genre Feminin)">
                                <% } %> 
                                <% if(infoperso.sexe != "masculin" && infoperso.sexe != "feminin") { %> 
                                    <img src="https://placehold.it/400%>" class="card-img-top" alt="Pas de photo de profil">
                                <% } %> 
                            <% } %>

                            <div class="card-body">
                                <p class="card-text text-center">
                                    <% if(infofichier.cheminPhotoProfil) {%>
                                        Photo de profil actuelle
                                    <% } else { %>
                                        Photo de profil par défaut
                                    <% } %>
                                </p>
                            </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                            <img src="<%= infofichier.cheminQr %>" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text text-center">
                                    Identifiant QR
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center" style="margin: 3%;">
                        <a class="btn btn-lg btn-outline-dark" href="<%= infoperso.lienCard %>" target="_blank">
                            Consulter Page de Profil
                        </a>
                    </div>

                    <div class="line"></div>

                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <h1 class="text-center" style="margin: 5%;">
                                Informations Personnelles
                            </h1>
                            <thead class="thead-dark text-center">

                            </thead>
                            <tbody>
                                <tr>
                                    <th>ID Client</th>
                                    <td><%= infoperso.codeClient %></td>
                                </tr>
                                <tr>
                                    <% if(infouser.autorisation == 1) { %>
                                    <th>Cet Utilisateur est : <br> <p class="text-success"> autorisé </p> </th>
                                    <td>
                                        <a href="/compte/root/gestion_client/effect_operation/<%= infoperso.codeClient %>/deactive_autorisation" class="btn btn-danger">
                                            BLOQUER
                                        </a>
                                    </td>
                                    <% } %>

                                    <% if(infouser.autorisation == 0) { %>
                                    <th>Cet Utilisateur est : <br> <p class="text-danger"> non autorisé </p> </th>
                                    <td>
                                        <a href="/compte/root/gestion_client/effect_operation/<%= infoperso.codeClient %>/active_autorisation" class="btn btn-success">
                                            DEBLOQUER
                                        </a>
                                    </td>
                                    <% } %>

                                </tr>
                                <tr>
                                    <% if(infouser.permissionModificationData == 1) { %>
                                        <th>Cet Utilisateur est : <br> <p class="text-success">abonné </p> </th>
                                        <td>
                                            <a href="/compte/root/gestion_client/effect_operation/<%= infoperso.codeClient %>/deactive_abonnement" class="btn btn-danger">
                                                DESACTIVER ABONNEMENT
                                            </a>
                                        </td>
                                        <% } %>
    
                                        <% if(infouser.permissionModificationData == 0) { %>
                                        <th>Cet Utilisateur est : <br> <p class="text-danger"> non abonné </p> </th>
                                        <td>
                                            <a href="/compte/root/gestion_client/effect_operation/<%= infoperso.codeClient %>/active_abonnement" class="btn btn-success">
                                                ACTIVER ABONNEMENT
                                            </a>
                                        </td>
                                        <% } %>
                                </tr>
                                <tr>
                                    <th>Nom</th>
                                    <td><%= infoperso.nom %></td>
                                </tr>
                                <tr>
                                    <th>Prénom</th>
                                    <td><%= infoperso.prenom %></td>
                                </tr>
                                <tr>
                                    <th>Genre</th>
                                    <td><%= infoperso.sexe %></td>
                                </tr>
                                <tr>
                                    <th>Date de Naissance</th>
                                    <td><%= infoperso.dateNaissance %></td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td><%= infoperso.email %></td>
                                </tr>
                                <tr>
                                    <th>Adresse</th>
                                    <td><%= infoperso.adresse %></td>
                                </tr>
                                <tr>
                                    <th>Phone 1</th>
                                    <td><%= infoperso.phone1 %></td>
                                </tr>
                                <tr>
                                    <th>Phone 2</th>
                                    <td><%= infoperso.phone2 %></td>
                                </tr>
                                <tr>
                                    <th>Phone 3</th>
                                    <td><%= infoperso.phone3 %></td>
                                </tr>
                                <tr>
                                    <th>Site Internet</th>
                                    <td><%= infoperso.siteInternet %></td>
                                </tr>
                                <tr>
                                    <th>AutoDescription</th>
                                    <td><%= infoperso.autoDescription %></td>
                                </tr>

                            </tbody>
                        </table>

                        <div class="line"></div>

                        <table class="table table-striped table-hover">
                            <h1 class="text-center" style="margin: 5%;">
                                Informations Réseaux Sociaux
                            </h1>
                            <thead class="thead-dark text-center">

                            </thead>
                            <tbody>
                                <tr>
                                    <th>Nom Profil Twitter</th>
                                    <td><%= inforeso.nomProfilTwitter %></td>
                                </tr>
                                <tr>
                                    <th>Lien Profil Twitter</th>
                                    <td><%= inforeso.lienTwitter %></td>
                                </tr>
                                <tr>
                                    <th>Nom Profil Facebook</th>
                                    <td><%= inforeso.nomProfilTwitter %></td>
                                </tr>
                                <tr>
                                    <th>Lien Profil Facebook</th>
                                    <td><%= inforeso.lienFacebook %></td>
                                </tr>
                                <tr>
                                    <th>Nom Profil Skype</th>
                                    <td><%= inforeso.nomProfilTwitter %></td>
                                </tr>
                                <tr>
                                    <th>Lien Profil Skype</th>
                                    <td><%= inforeso.lienSkype %></td>
                                </tr>
                                <tr>
                                    <th>Nom Profil LinkedIn</th>
                                    <td><%= inforeso.nomProfilTwitter %></td>
                                </tr>
                                <tr>
                                    <th>Lien Profil LinkedIn</th>
                                    <td><%= inforeso.lienLinkedin %></td>
                                </tr>
                                <tr>
                                    <th>Nom Profil Google Plus</th>
                                    <td><%= inforeso.nomProfilGooglePlus %></td>
                                </tr>
                                <tr>
                                    <th>Lien Profil Google Plus</th>
                                    <td><%= inforeso.lienGooglePlus %></td>
                                </tr>
                                <tr>
                                    <th>Nom Profil Instagram</th>
                                    <td><%= inforeso.nomProfilInstagram %></td>
                                </tr>
                                <tr>
                                    <th>Lien Profil Instagram</th>
                                    <td><%= inforeso.lienInstagram %></td>
                                </tr>
                                <tr>
                                    <th>Nom Profil Viadeo</th>
                                    <td><%= inforeso.nomProfilViadeo %></td>
                                </tr>
                                <tr>
                                    <th>Lien Profil Viadeo</th>
                                    <td><%= inforeso.lienViadeo %></td>
                                </tr>

                            </tbody>
                        </table>

                        <div class="line"></div>

                        <table class="table table-striped table-hover">
                            <h1 class="text-center" style="margin: 5%;">
                                Informations Société
                            </h1>
                            <thead class="thead-dark text-center">

                            </thead>
                            <tbody>
                                <tr>
                                    <th>Nom Societe</th>
                                    <td><%= infosociete.nom %></td>
                                </tr>
                                <tr>
                                    <th>Poste Occupé</th>
                                    <td><%= infosociete.poste %></td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td><%= infosociete.email %></td>
                                </tr>
                                <tr>
                                    <th>Adresse</th>
                                    <td><%= infosociete.adresse %></td>
                                </tr>
                                <tr>
                                    <th>Phone 1</th>
                                    <td><%= infosociete.phone1 %></td>
                                </tr>
                                <tr>
                                    <th>Phone 2</th>
                                    <td><%= infosociete.phone2 %></td>
                                </tr>
                                <tr>
                                    <th>Phone 3</th>
                                    <td><%= infosociete.phone3 %></td>
                                </tr>
                                <tr>
                                    <th>Site Internet</th>
                                    <td><%= infosociete.siteInternet %></td>
                                </tr>
                            </tbody>
                        </table>


                    </div>

                    <div class="line"></div>

                    <div class="row d-flex justify-content-center" style="margin: 3%;">
                        <a class="btn btn-lg btn-outline-dark" href="<%= infoperso.lienCard %>" target="_blank">
                            Consulter Page de Profil
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>