<%- extend('baseroot') %>

<!-- Horizontal Form-->
               <div class="col-sm-12 col-md-8 offset-md-2  col-lg-6 offset-lg-3">
                   <br>
                    <div class="card">
                      <div class="card-header d-flex justify-content-center">
                        <h3 class="h4">GeassCard : Nouveau Bon De Reduction</h3>
                      </div>
                      <div class="card-body ">
                        <% if(locals.error) { %>
                            <p class="d-flex justify-content-center text-danger"><%= error %></p>
                          <% } else { %>
                            <p class="d-flex justify-content-center">Enregistrement Du Bon De Reduction</p>
                          <% } %>
                        
                        <% if(locals.msgsuccess) { %>
                            <div class="alert alert-success"><%= msgsuccess %></div>
                            <div class="row d-flex justify-content-around">
                                <a href="/compte/root/gestion_reduction/new" class="btn btn-outline-primary col-4 d-flex justify-content-center">Nouveau ???</a>
                            <a href="/compte/root/gestion_reduction" class="btn btn-outline-primary col-4 d-flex justify-content-center">Liste des Bons</a>
                            </div>
                        <% }    else { %>
                            <form method="post" action="/compte/root/gestion_reduction/new">
                                <div class="form-group col-xs-12 col-sm-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1" class="">
                                    <label class="form-control-label d-flex justify-content-center">Code Reduction</label>
                                    <input id="inputCode" name="code" type="text" placeholder="Son Code" class="form-control" style="text-align: center"
                                    value=
                                        <% if (locals.info) { %>
                                            <%= info.code %>
                                        <% } %>							
                                        >
                                </div>
                                <div class="form-group col-xs-12 col-sm-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1" class="">
                                    <label class="form-control-label d-flex justify-content-center">Somme Reduction</label>
                                    <input  id="inputSomme" name="somme" type="number" placeholder="Somme de réduction" class="form-control" style="text-align: center"
                                    value=
                                    <% if (locals.info) { %>
                                        <%= info.somme %>
                                    <% } %>							
                                       >
                                </div>
                                <div class="form-group d-flex justify-content-around col-xs-10 offset-xs-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">       
                                    <button id="submit" type="submit" class="btn btn-primary" >Valider</button>
                                    <button id="reset" type="reset" class="btn btn-danger" >Effacer</button>
                                </div>
                            </form>
                        <% } %>
                            
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <!-- JavaScript files-->
    <script src="/template/dash2/vendor/jquery/jquery.min.js"></script>
    <script src="/template/dash2/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="/template/dash2/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/template/dash2/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="/template/dash2/vendor/chart.js/Chart.min.js"></script>
    <script src="/template/dash2/vendor/jquery-validation/jquery.validate.min.js"></script>
    <!-- Main File-->
    <script src="/template/dash2/js/front.js"></script>
    <script>

        $(document).ready(() => {
            var valid = $('#submit')
            var reset = $('#reset')
            
            var code        = $('#inputCode')
            var somme   = $('#inputSomme')
        })
        



    </script>
