<%- extend('../baseroot') %>

<!-- Breadcrumb-->
<div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/compte/root/gestion_commande">Gestion Commande</a></li>
        <li class="breadcrumb-item">Informations</li>
        <li class="breadcrumb-item active"><%= infoclient.codeClient %></li>
    </ul>
</div>
<section class="tables">
    <div class="container-fluid">
        <div class="col-xs-12 col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h3 class="h4">Informations Sur La Commande</h3>
                </div>
                <div class="row d-flex justify-content-center" style="margin: 3%;">
                    <a class="btn btn-lg btn-outline-dark" href="<%# infoclient.lienCard %>">
                        Consulter Page de Profil
                    </a>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <h1 class="text-center" style="margin: 5%;">
                            Informations Client
                        </h1>
                        <thead class="thead-dark text-center">

                        </thead>
                        <tbody>
                            <tr>
                                <th>ID Client</th>
                                <td><%= infoclient.codeClient %></td>
                            </tr>
                            <tr>
                                <th>Nom</th>
                                <td><%= infoclient.nom %></td>
                            </tr>
                            <tr>
                                <th>Prénom</th>
                                <td><%= infoclient.prenom %></td>
                            </tr>
                            <tr>
                                <th>Date de Naissance</th>
                                <td><%= infoclient.prenom %></td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td><%= infoclient.email %></td>
                            </tr>
                            <tr>
                                <th>Adresse</th>
                                <td><%= infoclient.adresse %></td>
                            </tr>
                            <tr>
                                <th>Phone 1</th>
                                <td><%= infoclient.phone1 %></td>
                            </tr>
                            <tr>
                                <th>Phone 2</th>
                                <td><%= infoclient.phone2 %></td>
                            </tr>
                            <tr>
                                <th>Phone 3</th>
                                <td><%= infoclient.phone3 %></td>
                            </tr>
                            <tr>
                                <th>Site Internet</th>
                                <td><%= infoclient.siteInternet %></td>
                            </tr>
                            <tr>
                                <th>AutoDescription</th>
                                <td><%= infoclient.autoDescription %></td>
                            </tr>

                        </tbody>
                    </table>

                    <div class="line"></div>

                    <table class="table table-striped table-hover">
                        <h1 class="text-center" style="margin: 5%;">
                            Informations Commande
                        </h1>
                        <thead class="thead-dark text-center">

                        </thead>
                        <tbody>
                            <tr>
                                <th>Numéro De Commande</th>
                                <td><%= commande.codeCommande %></td>
                            </tr>
                            <tr>
                                <th>Prestataire </th>
                                <td><%= commande.codePresta %></td>
                            </tr>
                            <tr>
                                <th>Coût Total</th>
                                <td><%= commande.coutTotal %></td>
                            </tr>
                            <tr>
                                <th>Statut Commande</th>
                                <td>
                                    <% if(commande.statut  == 1) {%>
                                    <b style="color: red;">NON PAYÉE ET NON LIVRÉE</b>
                                    <% } %>
                                    <% if(commande.statut  == 2) {%>
                                    <b style="color: darkorange;">PAYÉE ET NON LIVRÉE</b>
                                    <% } %>
                                    <% if(commande.statut  == 3) {%>
                                    <b style="color: darkorange;">PAYÉE ET LIVRÉE</b>
                                    <% } %>
                                    <% if(commande.statut  == 4) {%>
                                    <b style="color: green;">PAYÉE ET LIVRÉE (ACHEVÉE)</b>
                                    <% } %>
                                </td>
                            </tr>

                            <tr>
                                <th>Moyen Paiement</th>
                                <td><%= commande.moyenPaiement %></td>
                            </tr>
                            <tr>
                                <th>Date De Commande</th>
                                <td><%= commande.dateRegister.fromNow() %></td>
                            </tr>

                        </tbody>
                    </table>

                    <div class="line"></div>

                    <table class="table table-striped table-hover">
                        <h1 class="text-center" style="margin: 5%;">
                            Informations Panier
                        </h1>
                        <thead class="thead-dark text-center">

                        </thead>
                        <tbody>
                            <tr>
                                <th>Numéro De Panier</th>
                                <td><%= panier.codePanierCommande %></td>
                            </tr>
                            <tr>
                                <th>Prix Total </th>
                                <td><%= panier.prixTotal %></td>
                            </tr>
                            <tr>
                                <th>Réduction</th>
                                <td><%= panier.reduction %></td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="line"></div>

                    <h1 class="text-center" style="margin: 5%;">
                        Informations Sur Les Produits
                    </h1>

                    <% for  (ligne of touteslignes) { %>

                    <div class="card col-8 offset-2 ">
                        <img class="card-img-top" src="/asset/img/<%= ligne.lienFichier %>" alt="Card image cap">
                        <div class="card-body">
                            <table class="table table-striped table-hover">
                                <thead class="thead-dark text-center">

                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Nom </th>
                                        <td><%= ligne.nom %></td>
                                    </tr>
                                    <tr>
                                        <th>Type De Carte </th>
                                        <td><%= ligne.typeCarte %></td>
                                    </tr>
                                    <tr>
                                        <th>Pack</th>
                                        <td><%= ligne.nbcarte %> Carte(s)</td>
                                    </tr>
                                    <tr>
                                        <th>Quantité</th>
                                        <td><%= ligne.quantite %> Pack(s)</td>
                                    </tr>
                                    <tr>
                                        <th>Prix Unitaire</th>
                                        <td><%= ligne.prix %> Francs CFA</td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <a href="#" class="btn btn-primary col-6 offset-3">Plus ...</a>
                        </div>
                    </div>

                    <% } %>

                </div>

                <h1 class="text-center" style="margin: 5%;">

                    <% if(commande.statut == 4) {%>
                    <span style="color: darkorange;">Commande Achevée Avec Succès</span>
                    <% } else {%>
                    VALIDATION ROOT
                    <% } %>
                </h1>

                <% if(commande.statut == 1) {%>
                <%- include('./validation_root/passer_en_statut2_3.ejs') %>
                <% } %>
                <% if(commande.statut == 2 || commande.statut == 3) {%>
                <%- include('./validation_root/passer_en_statut4.ejs') %>
                <% } %>



            </div>

            <div class="line"></div>



            <div class="row d-flex justify-content-center" style="margin: 3%;">
                <a class="btn btn-lg btn-outline-dark" href="<%= infoclient.lienCard %>">
                    Consulter Page de Profil
                </a>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
</section>