<%- extend('../baseroot') %>

<!-- Breadcrumb-->
<div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="/compte/root/gestion_commande">Gestion Commande</a> </li>
      <li class="breadcrumb-item">Statut 2 => PAYÉE && NON LIVRÉE</li>
    </ul>
</div>
  <section class="tables">   
    <div class="container-fluid">
        <div class="col-xs-12 col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
          <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between">
              <h3 class="h4">Liste Commandes</h3>
              <% if(locals.info == "yes") { %>
                <form class="form-inline">
                  <div class="form-group">
                    <input id="inputsearch" type="text" placeholder="nom ou email" class="mr-3 form-control" style="text-align: center">
                  </div>
                </form>
              <% } else { %>

              <% } %>
            </div>
            <div class="card-body">
              <div class="table-responsive">                       
                <% if(locals.info == "yes") { %>
                  <table class="table table-striped table-hover">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Prestataire</th>
                          <th>Coût</th>
                          <th>Moyen Paiement</th>
                          <th>Détails</th>
                        <!--  <th>Suppression</th> -->
                        </tr>
                      </thead>
                      <tbody>
                        <% for(commande of commandes) { %>
                          <tr>
                            <th scope="row"><%= commande.codeClient %></th>
                            <td><%= commande.codePresta %></td>
                            <td><b><%= commande.coutTotal %></b></td>
                            <td><%= commande.moyenPaiement %></td>
                            <td>
                                <a href="/compte/root/gestion_commande/voir/<%= commande.codeCommande %>" class="btn btn-outline-primary">Voir</a>
                            </td>
                            <!--
                            <td>
                                <a href="/compte/root/gestion_client/supp/<%# client.codeUser %>" class="btn btn-outline-danger">Executer</a>
                            </td>
                        -->
                          </tr>
                        <% } %>
                      </tbody>
                    </table>
                <% } else { %>
                  <div class="text-center alert alert-danger">Aucune Commande</div>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>