<footer class="footer_area p_120">
    <div class="container">
        <div class="row footer_inner">
            
            <div class="col-lg-5 col-sm-6">
                <aside class="f_widget news_widget">
                    <div class="f_title">
                        <h3>Contactez <%= actuclient.nom %>    :<)</h3>
                    </div>
                    <p>Entrez votre adresse email pour rester en contact avec MOI</p>
                    <div id="mc_embed_signup">
                        <form target="_blank" action="" method="post" class="subscribe_form relative">
                            <div class="input-group d-flex flex-row">
                                <input name="email" placeholder="Entrez votre adresse email pour rester en contact" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Adresse Email'" required="" type="email">
                                <button class="btn sub-btn"><span class="lnr lnr-arrow-right"></span></button>		
                            </div>				
                            <div class="mt-10 info"></div>
                        </form>
                    </div>
                </aside>
            </div>
            <div class="col-lg-5 col-sm-6">
                    <aside class="f_widget ab_widget">
                        
<p>
        GeassCard : Copyright &copy;<script>document.write(new Date().getFullYear());</script> Tous droits reservés
</p>
                    </aside>
                </div>
        </div>
    </div>
</footer>