<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/template/meetme/img/favicon.png" type="image/png">
    <title><%= title %></title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/template/meetme/css/bootstrap.css">
    <link rel="stylesheet" href="/template/meetme/vendors/linericon/style.css">
    <link rel="stylesheet" href="/template/meetme/css/font-awesome.min.css">
    <link rel="stylesheet" href="/template/meetme/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/template/meetme/vendors/lightbox/simpleLightbox.css">
    <link rel="stylesheet" href="/template/meetme/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="/template/meetme/vendors/animate-css/animate.css">
    <link rel="stylesheet" href="/template/meetme/vendors/popup/magnific-popup.css">
    <link rel="stylesheet" href="/template/meetme/vendors/flaticon/flaticon.css">
    <!-- main css -->
    <link rel="stylesheet" href="/template/meetme/css/style.css">
    <link rel="stylesheet" href="/template/meetme/css/responsive.css">
</head>