        <script src="/template/meetme/js/jquery-3.3.1.min.js"></script>
        <script src="/template/meetme/js/popper.js"></script>
        <script src="/template/meetme/js/bootstrap.min.js"></script>
        <script src="/template/meetme/js/stellar.js"></script>
        <script src="/template/meetme/vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="/template/meetme/vendors/nice-select/js/jquery.nice-select.min.js"></script>
        <script src="/template/meetme/vendors/isotope/imagesloaded.pkgd.min.js"></script>
        <script src="/template/meetme/vendors/isotope/isotope.pkgd.min.js"></script>
        <script src="/template/meetme/vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="/template/meetme/vendors/popup/jquery.magnific-popup.min.js"></script>
        <script src="/template/meetme/js/jquery.ajaxchimp.min.js"></script>
        <script src="/template/meetme/vendors/counter-up/jquery.waypoints.min.js"></script>
        <script src="/template/meetme/vendors/counter-up/jquery.counterup.min.js"></script>
        <script src="/template/meetme/js/mail-script.js"></script>
        <script src="/template/meetme/js/theme.js"></script>