<nav class="side-navbar">
    <!-- Sidebar Header-->
    <div class="sidebar-header d-flex align-items-center">
      <div class="avatar"><img src="/template/dash2/img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
      <div class="title">
        <h1 class="h4"><%= ident %></h1>
        <p><%= role %></p>
      </div>
    </div>
    <!-- Sidebar Navidation Menus--><span class="heading">Menu</span>
    <ul class="list-unstyled">
      <li class="">
        <a href="/compte/root"> <i class="icon-home"></i>Bienvenue </a>
      </li>
      <li class="">
        <a href="/compte/root/gestion_commande"> <i class="icon-home"></i>Gestion Commandes </a>
      </li>
      <li class="">
        <a href="/compte/root/gestion_reduction"> <i class="icon-home"></i>Gestion Bon Reduction</a>
      </li>
      <li class="">
        <a href="/compte/root/gestion_client"> <i class="icon-home"></i>Gestion Client </a>
      </li>
      <li class="">
        <a href="/compte/root/gestion_prestataire"> <i class="icon-home"></i>Gestion Prestataire </a>
      </li>
      <li class="active">
        <a href="/compte/root/gestion_parrainage"> <i class="icon-home"></i>Gestion Parrainage </a>
      </li>
      <li class="">
        <a href="/compte/root/configuration_systeme"> <i class="icon-home"></i> Configuration Système </a>
      </li>
      <li class="">
        <a href="/compte/root/historique_systeme"> <i class="icon-home"></i>Historique Système </a>
      </li>
    </ul>
</nav>
    
