<div class="card col-8 offset-2">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <h3 class="h4">PASSER EN STATUT 4 => PAYÉE ET LIVRÉE (ACHEVÉE)</h3>
          </div>
        <div class="card-body text-center">
            <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-outline-success">
                Autoriser
            </button>
          <!-- Modal-->
        <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
        <div role="document" class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h4 id="exampleModalLabel" class="modal-title">Formulaire de validation</h4>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <p>Entrer le mot de passe spécial-validation du ROOT</p>
                <form method="POST" action="/compte/root/gestion_commande/vers_statut/4/<%= commande.codeCommande  %> ">
                    <div class="form-group">       
                    <label>Mot de passe</label>
                    <input name="password" type="password" placeholder="Mot de passe" class="form-control">
                    </div>
                    <div class="form-group" style="margin-left : 40%;">       
                    <input type="submit" value="VALIDER" class="btn btn-primary">
                    </div>
                </form>
                </div>
                <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-secondary">Fermer</button>
                </div>
            </div>
        </div>
        </div>
        </div>
      </div>
</div>