<div class="card col-8 offset-2">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <h3 class="h4">PASSER EN STATUT 2 => PAYÉE ET NON LIVRÉE</h3>
          </div>
        <div class="card-body text-center">
            <button type="button" data-toggle="modal" data-target="#myModal2" class="btn btn-outline-success">
                Autoriser
            </button>
          <!-- Modal-->
        <div id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
        <div role="document" class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h4 id="exampleModalLabel" class="modal-title">Formulaire de validation</h4>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <p>Entrer le mot de passe spécial-validation du ROOT</p>
                <form method="POST" action="/compte/root/gestion_commande/vers_statut/2/<%= commande.codeCommande  %> ">
                    <div class="form-group">       
                    <label>Mot de passe</label>
                    <input name="password" type="password" placeholder="Mot de passe" class="form-control">
                    </div>
                    <div class="form-group" style="margin-left : 40%;">       
                    <input type="submit" value="VALIDER" class="btn btn-primary">
                    </div>
                </form>
                </div>
                <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-secondary">Fermer</button>
                </div>
            </div>
        </div>
        </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <h3 class="h4">PASSER EN STATUT 3 =>NON PAYÉE ET LIVRÉE</h3>
          </div>
        <div class="card-body text-center">
            <button type="button" data-toggle="modal" data-target="#myModal3" class="btn btn-outline-success">
                Autoriser
            </button>
          <!-- Modal-->
          <div id="myModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
            <div role="document" class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 id="exampleModalLabel" class="modal-title">Formulaire de validation</h4>
                  <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                  <p>Entrer le mot de passe spécial-validation du ROOT</p>
                  <form method="POST" action="/compte/root/gestion_commande/vers_statut/3/<%= commande.codeCommande %> ">
                    <div class="form-group">       
                      <label>Mot de passe</label>
                      <input name="password" type="password" placeholder="Mot de passe" class="form-control">
                    </div>
                    <div class="form-group" style="margin-left : 40%;">       
                      <input type="submit" value="VALIDER" class="btn btn-primary">
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" data-dismiss="modal" class="btn btn-secondary">Fermer</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>