<%- extend('../baseclient') %>

<div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2" style="margin-top: 5%;">
    <div class="card">
        <div class="card-body text-center">
            <a href="/compte/client/gestion_data/modifdata/photoprofil" class="btn btn-primary">Photo De Profil</a>
        </div>
    </div>
</div>

<div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2" style="margin-top: 5%;">
    <div class="card">
        <div class="card-body text-center">
            <a href="/compte/client/gestion_data/modifdata/cvprofil" class="btn btn-primary">Mon C.V.</a>
        </div>
    </div>
</div>

<div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2" style="margin-top: 5%;">
    <div class="card">
        <div class="card-body text-center">
            <a href="/compte/client/gestion_data/modifdata/infoperso" class="btn btn-primary">Informations Personnelles</a>
        </div>
    </div>
</div>

<div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2" style="margin-top: 5%;">
    <div class="card">
        <div class="card-body text-center">
            <a href="/compte/client/gestion_data/modifdata/inforesociaux" class="btn btn-primary">Réseaux Sociaux</a>
        </div>
    </div>
</div>

<div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2" style="margin-top: 5%;">
    <div class="card">
        <div class="card-body text-center">
            <a href="/compte/client/gestion_data/modifdata/infosociete" class="btn btn-primary">Votre Entreprise</a>
        </div>
    </div>
</div>