<%- extend('../baseclient') %>

<br><br>
<div class="row" style="text-align: center;">

    <% for(template of listeTemplate) { %>

    <div class="col-md-3 offset-md- col-sm-6">
        <div class="card ">
            <img src="/asset/img/portfolio.png" class="card-img-top" alt="info " style="width: 40%; margin-left: 30%;">
            <div class="card-body">
                <h1 class="card-title">
                    <%= template.texte.toUpperCase() %>
                </h1>
                <% if(template.texte != nomTemplate) { %>
                    <a href="/compte/client/gestion_data/template/active/<%= template.route %>" class="btn btn-success">Activer</a>
                <% } %> 
                <a href="/portfolio/modele/<%= template.route %>" class="btn btn-outline-primary" target="_blank">
                    Voir Plus
                </a>
            </div>
        </div>
    </div>

    <% } %>





</div>