<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/frame/bootstrap/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container" style="margin-top: 10%;">
            <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                <div class="card text-center">
                    <div class="card-header">
                        GeassCard
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Confirmation Envoi Mail</h5>
                        <p class="card-text">Un email a bien été envoyé a l'adresse email que vous avez renseigné</p>
                        <a href="/" class="btn btn-primary">GeassCard</a>
                    </div>
                    <div class="card-footer text-muted">
                        A l'instant
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="/frame/bootstrap/js/bootstrap.min.js"></script>
</html>