      <footer class="main-footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6">
              <p>Argus &copy; 2019-2020</p>
            </div>
            <div class="col-sm-6 text-right">
              <p>Design par <a href="https://bootstrapious.com/p/admin-template" class="external">Bootstrapious</a></p>

              <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
            </div>
          </div>
        </div>
      </footer>