
<% if (active == 1) { %>
  <%- include('./sidebare/s1') %>
<% } %>
<% if (active == 2) { %>
  <%- include('./sidebare/s2') %>
<% } %>
<% if (active == 3) { %>
  <%- include('./sidebare/s3') %>
<% } %>
<% if (active == 4) { %>
  <%- include('./sidebare/s4') %>
<% } %>
<% if (active == 5) { %>
  <%- include('./sidebare/s5') %>
<% } %>