<!doctype html>
<html lang="fr">
    <%- include('base/head') %>
    <body>
        
        <!--================Header Menu Area =================-->
        <%-include('base/header') %>
        <!--================Header Menu Area =================-->
        
        <%- content %>
        
        <!--================Footer Area =================-->
        <%- include('base/footer.ejs') %>
        <!--================End Footer Area =================-->
        
        
        
        
        
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <%- include('base/script') %>
    </body>
</html>