<%- extend('basept') %>

        <!--================Home Banner Area =================-->
        <section class="home_banner_area">
            <div class="container box_1620">
                <div class="banner_inner d-flex align-items-center">
                 <div class="banner_content">
                     <div class="media">
                         <div class="d-flex">
                             <img src="/template/meetme/img/personal.jpg" alt="">
                         </div>
                         <div class="media-body">
                            <div class="personal_text">
                                 <h6>Salut tout le monde, Je suis</h6>
                                 <h3>
                                    <% if(actuclient.nom || actuclient.prenom) { %>
                                        <%= actuclient.nom %> <%= actuclient.prenom %>
                                    <% } %>
                                 </h3>
                                <% if(societeclient.poste && societeclient.nom) { %>
                                    <h4><%= societeclient.poste %></h4>
                                    <h6> chez </h6>
                                    <h4 class="text-info" style="font-size: 30px;"><%= societeclient.nom %></h4>
                                <% } else { %>
                                    Date de naissance Non Disponible
                                <% } %>
                                 
                                 <ul class="list basic_info">
                                    <li>
                                        <a href="#"><i class="lnr lnr-calendar-full"></i> 
                                            <% if(actuclient.dateNaissance) { %>
                                                <%= actuclient.dateNaissance %>
                                            <% } else { %>
                                                Date de naissance Non Disponible
                                            <% } %>
                                        </a>
                                    </li>
                                     <li>
                                        <a href="#"><i class="lnr lnr-envelope"></i> 
                                            <% if(actuclient.email) { %>
                                                <%= actuclient.email %>
                                            <% } else { %>
                                                Adresse Email Non Disponible
                                            <% } %>
                                        </a>
                                    </li>
                                     <li>
                                        <a href="#"><i class="lnr lnr-home"></i> 
                                            <% if(actuclient.adresse) { %>
                                                <%= actuclient.adresse %>
                                            <% } else { %>
                                                Adresse Physique Non Disponible
                                            <% } %>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://fontawesome.com/v4.7.0/icon/viadeo"><i class="lnr lnr-unlink"></i> 
                                            <% if(actuclient.siteInternet) { %>
                                                <%= actuclient.siteInternet %>
                                            <% } else { %>
                                                Lien Site Internet Non Disponible
                                            <% } %>
                                        </a>
                                    </li>
                                    <li>
                                         <a href="#"><i class="lnr lnr-phone-handset"></i> 
                                            <% if(actuclient.phone1) { %>
                                                <%= actuclient.phone1 %>
                                            <% } else { %>
                                                Telepnone 1 Non Disponible
                                            <% } %>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="lnr lnr-phone-handset"></i> 
                                            <% if(actuclient.phone2) { %>
                                                <%= actuclient.phone2 %>
                                            <% } else { %>
                                                Telepnone 2 Non Disponible
                                            <% } %>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="lnr lnr-phone-handset"></i> 
                                            <% if(actuclient.phone3) { %>
                                                <%= actuclient.phone3 %>
                                            <% } else { %>
                                                Telepnone 3 Non Disponible
                                            <% } %>
                                        </a>
                                    </li>
                                 </ul>
                                <ul class="list personal_social">
                                    <% if(socialclient.lienFacebook) { %> 
                                        <li><a href="<%= socialclient.lienFacebook %>"><i class="fa fa-facebook"></i></a></li>
                                    <% } %>
                                    <% if(socialclient.lienTwitter) { %> 
                                        <li><a href="<%= socialclient.lienTwitter %>"><i class="fa fa-twitter"></i></a></li>
                                    <% } %>
                                    <% if(socialclient.lienLinkedin) { %> 
                                        <li><a href="<%= socialclient.lienLinkedin %>"><i class="fa fa-linkedin"></i></a></li>
                                    <% } %>
                                    <% if(socialclient.lienSkype) { %> 
                                        <li><a href="<%= socialclient.lienSkype %>"><i class="fa fa-skype"></i></a></li>
                                    <% } %>
                                    <% if(socialclient.lienInstagram) { %> 
                                        <li><a href="<%= socialclient.lienInstagram %>"><i class="fa fa-instagram"></i></a></li>
                                    <% } %>
                                    <% if(socialclient.lienViadeo) { %> 
                                        <li><a href="<%= socialclient.lienViadeo %>"><i class="fa fa-viadeo" aria-hidden="true"></i></a></li>
                                    <% } %>
                                    <% if(socialclient.lienGooglePlus) { %> 
                                        <li><a href="<%= socialclient.lienGooglePlus %>"><i class="fa fa-google-plus"></i></a></li>
                                    <% } %>
                                     
                                     
                                     
                                     
                                     
                                     
                                     
                                 </ul>
                            </div>
<hr>
<hr>
<hr>
                            <div class="personal_text">
                                   <% if(societeclient.poste && societeclient.nom) { %>
                                       <h3><%= societeclient.nom %></h3>

                                       <ul class="list basic_info">
                                            
                                                <li>
                                                <a href="#"><i class="lnr lnr-envelope"></i> 
                                                    <% if(societeclient.email) { %>
                                                        <%= societeclient.email %>
                                                    <% } else { %>
                                                        Adresse Email Non Disponible
                                                    <% } %>
                                                </a>
                                            </li>
                                                <li>
                                                <a href="#"><i class="lnr lnr-home"></i> 
                                                    <% if(societeclient.adresse) { %>
                                                        <%= societeclient.adresse %>
                                                    <% } else { %>
                                                        Adresse Physique Non Disponible
                                                    <% } %>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://fontawesome.com/v4.7.0/icon/viadeo"><i class="lnr lnr-unlink"></i> 
                                                    <% if(societeclient.siteInternet) { %>
                                                        <%= societeclient.siteInternet %>
                                                    <% } else { %>
                                                        Lien Site Internet Non Disponible
                                                    <% } %>
                                                </a>
                                            </li>
                                            <li>
                                                    <a href="#"><i class="lnr lnr-phone-handset"></i> 
                                                    <% if(societeclient.phone1) { %>
                                                        <%= societeclient.phone1 %>
                                                    <% } else { %>
                                                        Telepnone 1 Non Disponible
                                                    <% } %>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="lnr lnr-phone-handset"></i> 
                                                    <% if(societeclient.phone2) { %>
                                                        <%= societeclient.phone2 %>
                                                    <% } else { %>
                                                        Telepnone 2 Non Disponible
                                                    <% } %>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="lnr lnr-phone-handset"></i> 
                                                    <% if(societeclient.phone3) { %>
                                                        <%= societeclient.phone3 %>
                                                    <% } else { %>
                                                        Telepnone 3 Non Disponible
                                                    <% } %>
                                                </a>
                                            </li>
                                            </ul>
                                   <% } %>
                                    
                                    
                               </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </section>

     <br><br><br><br><br>
     <div class="col-12 d-flex justify-content-center">
            <img src="<%= fichierclient.cheminQr %>" alt="codeqr">
     </div>
     <!--================End Home Banner Area =================-->
