<%- extend('basept') %>

        <!--================Home Banner Area =================-->
        <section class="home_banner_area">
            <div class="container box_1620">
                <div class="banner_inner d-flex align-items-center">
                 <div class="banner_content">
                     <div class="media">
                         <div class="d-flex">
                             <img src="/template/meetme/img/personal.jpg" alt="">
                         </div>
                         <div class="media-body">
                             <div class="personal_text">
                                 <h6>Salut tout le monde, Je suis</h6>
                                 <h3>Donald McKinney</h3>
                                 <h4>Poste</h4><h6> chez </h6><h4 class="text-info" style="font-size: 30px;">Entreprise</h4>
                                 <p>You will begin to realise why this exercise is called the Dickens Pattern (with reference to the ghost showing Scrooge some different futures)</p>
                                 <ul class="list basic_info">
                                     <li><a href="#"><i class="lnr lnr-calendar-full"></i> 31/12/2019</a></li>
                                     <li><a href="#"><i class="lnr lnr-envelope"></i> businessplan@donald</a></li>
                                     <li><a href="#"><i class="lnr lnr-home"></i> Santa monica bullevard</a></li>
                                     <li><a href="https://fontawesome.com/v4.7.0/icon/viadeo"><i class="lnr lnr-unlink"></i> https://fontawesome.com/v4.7.0/icon/viadeo</a></li>
                                     <li><a href="#"><i class="lnr lnr-phone-handset"></i> 44 (012) 6954 783</a></li>
                                     <li><a href="#"><i class="lnr lnr-phone-handset"></i> 44 (012) 6954 783</a></li>
                                     <li><a href="#"><i class="lnr lnr-phone-handset"></i> 44 (012) 6954 783</a></li>
                                 </ul>
                                 <ul class="list personal_social">
                                     <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                     <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                     <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                     <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                     <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                     <li><a href="#"><i class="fa fa-viadeo" aria-hidden="true"></i></a></li>
                                     <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                 </ul>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </section>
     <!--================End Home Banner Area =================-->
     
     <!--================Welcome Area =================-->
     <section class="welcome_area p_120">
         <div class="container">
             <div class="row welcome_inner">
                 <div class="col-lg-6">
                     <div class="welcome_text">
                         <h4>About Myself</h4>
                         <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed.</p>
                         <div class="row">
                             <div class="col-md-4">
                                 <div class="wel_item">
                                     <i class="lnr lnr-database"></i>
                                     <h4>$2.5M</h4>
                                     <p>Total Donation</p>
                                 </div>
                             </div>
                             <div class="col-md-4">
                                 <div class="wel_item">
                                     <i class="lnr lnr-book"></i>
                                     <h4>1465</h4>
                                     <p>Total Projects</p>
                                 </div>
                             </div>
                             <div class="col-md-4">
                                 <div class="wel_item">
                                     <i class="lnr lnr-users"></i>
                                     <h4>3965</h4>
                                     <p>Total Volunteers</p>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
                 <div class="col-lg-6">
                     <div class="tools_expert">
                         <div class="skill_main">
                             <div class="skill_item">
                                 <h4>After Effects <span class="counter">85</span>%</h4>
                                 <div class="progress_br">
                                     <div class="progress">
                                         <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                     </div>
                                 </div>
                             </div>
                             <div class="skill_item">
                                 <h4>Photoshop <span class="counter">90</span>%</h4>
                                 <div class="progress_br">
                                     <div class="progress">
                                         <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                     </div>
                                 </div>
                             </div>
                             <div class="skill_item">
                                 <h4>Illustrator <span class="counter">70</span>%</h4>
                                 <div class="progress_br">
                                     <div class="progress">
                                         <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                     </div>
                                 </div>
                             </div>
                             <div class="skill_item">
                                 <h4>Sublime <span class="counter">95</span>%</h4>
                                 <div class="progress_br">
                                     <div class="progress">
                                         <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                     </div>
                                 </div>
                             </div>
                             <div class="skill_item">
                                 <h4>Sketch <span class="counter">75</span>%</h4>
                                 <div class="progress_br">
                                     <div class="progress">
                                         <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </section>
     <!--================End Welcome Area =================-->