<section id="about-us" class="parallax">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <div class="about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <h2>A propos de</h2>
                <p>
                  GeassCard est un service developée et entretenue par la startup GeassCorp.
                </p>
              </div>
            </div>
        </div>
      </section><!--/#about-us-->