<section id="contact">
        <div id="contact-us" class="parallax">
          <div class="container">
            <div class="row">
              <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <h2>Contactez Nous</h2>
                <p>
                  Pour obtenir plus de renseignements.
                </p>
              </div>
            </div>
            <form action="/" method="POST">

              <% if(locals.messageErreur) { %> 
                <div class="row">
                  <div class="col-md-6">
                    <div class="alert alert-danger text-center" role="alert" data-wow-duration="1000ms" data-wow-delay="450ms">
                      <%= messageErreur %> 
                    </div>
                  </div>
                </div>
              <% } %> 

              <% if(locals.messageSucces) { %> 
                <div class="row">
                  <div class="col-md-6">
                    <div class="alert alert-success text-center" role="alert" data-wow-duration="1000ms" data-wow-delay="450ms">
                      <%= messageSucces %> 
                    </div>
                  </div>
                </div>
              <% } %> 

              <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="row">
                  <div class="col-sm-6">
                    <form id="main-contact-form" name="contact-form" method="post" action="#">
                      <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <input type="text" name="nomprenom" class="form-control" placeholder="Nom" required="required">
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <input type="email" name="email" class="form-control" placeholder="Addresse Email" required="required">
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <input type="text" name="sujet" class="form-control" placeholder="Sujet" required="required">
                      </div>
                      <div class="form-group">
                        <textarea name="message" id="message" class="form-control" rows="4" placeholder="Entrez votre message" required="required"></textarea>
                      </div>                        
                      <div class="form-group">
                        <button name="submit" value="ok" type="submit" class="btn-submit">Envoyer</button>
                      </div>
                    </form>   
                  </div>
                  <div class="col-sm-6">
                    <div class="contact-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                      <p>
                        Si vous voulez plus d'informations ou pour tout autres préoccupations. 
                        <br>
                        Veuillez remplir ce formulaire.
                      </p>
                      <br>
                      <ul class="address">
                        <li><i class="fa fa-map-marker"></i> <span> Addresse : </span> Abidjan , Anyama Immeuble Nafana N°2</li>
                        <li><i class="fa fa-phone"></i> <span> TéléPhone :</span> +225 67623971</li>
                        <li><i class="fa fa-phone"></i> <span> TéléPhone :</span> +225 53198162</li>
                        <li><i class="fa fa-phone"></i> <span> TéléPhone :</span> +225 66135773</li>
                        <li><i class="fa fa-envelope"></i> <span> Email : </span><a href="#contact">mygeasscard@gmail.com</a></li>
                        <li><i class="fa fa-envelope"></i> <span> Email : </span><a href="#contact"> support@mygeasscard.com</a></li>
  
                      </ul>
                    </div>                            
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>        
      </section><!--/#contact-->