<footer id="footer">
    <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="container text-center">
        <div class="text-center text-capitalize">
            <a href="/">GeassCard</a>
        </div>
        <div class="social-icons">
            <ul>
            <li><a class="envelope" href="#"><i class="fa fa-envelope"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li> 
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="tumblr" href="#"><i class="fa fa-tumblr-square"></i></a></li>
            </ul>
        </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
        <div class="row">
            <div class="col-sm-6">
            <p>&copy;  <a href="/">GeassCard</a> 2019-2020</p>
            </div>
            <div class="col-sm-6">
            <p class="pull-right">
                Par 
                <a href="http://www.themeum.com/">Themeum</a>
                Et  
                <a href="https://digital.groupegeasscorp.com">GeassCorp Digital</a>
            </p>
            </div>
        </div>
        </div>
    </div>
</footer>