<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Plateforme de carte de visite basée sur la technologie du code Qr">
    <meta name="author" content="GeassCorp">
    <title><%= title %></title>
    <link href="/template/geasscard/css/bootstrap.min.css" rel="stylesheet">
    <link href="/template/geasscard/css/animate.min.css" rel="stylesheet"> 
    <link href="/template/geasscard/css/font-awesome.min.css" rel="stylesheet">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/template/geasscard/css/lightbox.css" rel="stylesheet">
    <link href="/template/geasscard/css/main.css" rel="stylesheet">
    <link id="css-preset" href="/template/geasscard/css/presets/preset1.css" rel="stylesheet">
    <link href="/template/geasscard/css/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
        <script src="/template/geasscard/js/html5shiv.js"></script>
        <script src="/template/geasscard/js/respond.min.js"></script>
    <![endif]-->
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/asset/img/logo_geasscard.ico">
</head><!--/head-->