<header id="home">
  <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active" style="background-image: url(/template/geasscard/images/slider/1.jpg)">
        <div class="caption">
          <h1 class="animated fadeInLeftBig">BIENVENUE SUR <span>GEASSCARD</span></h1>
          <p class="animated fadeInRightBig">votre plateforme de creation de carte de visite QR</p>
          <a data-scroll class="btn btn-start animated fadeInUpBig" href="/login">
            <i class="fa fa-lock"></i>  Connexion 
          </a>
          <a data-scroll class="btn btn-start animated fadeInUpBig" href="/register">
              <i class="fa fa-sign-in"></i> Inscription 
          </a>
          <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">
            Commencer
          </a>
        </div>
      </div>
      <div class="item" style="background-image: url(/template/geasscard/images/slider/2.jpg)">
        <div class="caption">
          <h1 class="animated fadeInLeftBig">DITES BONJOUR à <span>GEASSCARD</span></h1>
          <p class="animated fadeInRightBig">votre plateforme de creation de carte de visite QR</p>
          <a data-scroll class="btn btn-start animated fadeInUpBig" href="/login">
            <i class="fa fa-lock"></i> Connexion 
          </a>
          <a data-scroll class="btn btn-start animated fadeInUpBig" href="/register">
              <i class="fa fa-sign-in"></i> Inscription 
          </a>
          <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Commencer</a>
          
        </div>
      </div>
    </div>
    <a class="left-control" href="#home-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
    <a class="right-control" href="#home-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>

    <a id="tohash" href="#services"><i class="fa fa-angle-down"></i></a>

  </div><!--/#home-slider-->
  <div class="main-nav">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <h1>GeassCard</h1>
        </a>                    
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">                 
          <li class="scroll active"><a href="#home">Accueil</a></li>
          <li class="scroll"><a href="#services">Services</a></li> 
          <li class="scroll"><a href="#about-us">A propos de</a></li>                     
          <li class="scroll"><a href="#portfolio" style="display: none;">Galerie</a></li>
          <li class="scroll"><a href="#team">Equipe</a></li>
          <li class="scroll"><a href="#pricing">Tarifs</a></li>
          <li class="scroll"><a href="#contact">Contact</a></li>       
        </ul>
      </div>
    </div>
  </div><!--/#main-nav-->
</header><!--/#home-->