<section id="pricing">
  <div class="container">
    <div class="row">
      <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
        <h2>Nos Tarifs</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam</p>
      </div>
    </div>
    <div class="pricing-table">
      <div class="row">
        <div class="col-sm-4">
          <div class="single-table wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h3>Basique</h3>
            <div class="price">
              5000 FCFA<span>/Mois</span> <br>  (HT)                         
            </div>
            <ul>
              <li>5% Reduction Livraisons</li>
              <li>0 Mois Offerts</li>
            </ul>
            <a href="/register" class="btn btn-lg btn-primary">ça me va</a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="single-table wow flipInY" data-wow-duration="1000ms" data-wow-delay="500ms">
            <h3>Standard</h3>
            <div class="price">
              25000 FCFA<span>/6 Mois</span><br> (HT)                               
            </div>
            <ul>
              <li>8% Reduction Livraisons</li>
              <li>1 Mois Offert</li>
            </ul>
            <a href="/register" class="btn btn-lg btn-primary">ça me va</a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="single-table wow flipInY" data-wow-duration="1000ms" data-wow-delay="1100ms">
            <h3>Professionnelle</h3>
            <div class="price">
              50000 FCFA<span>/An</span> <br>  (HT)                   
            </div>
            <ul>
              <li>10% Reduction Livraisons</li>
              <li>2 Mois Offerts</li>
            </ul>
            <a href="/register" class="btn btn-lg btn-primary">ça me va</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!--/#pricing-->