<section id="services">
    <div class="container">
      <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="row">
          <div class="text-center col-sm-8 col-sm-offset-2">
            <h2>Nos Services</h2>
            <p>
              GeassCard vous permet d'acquerir une carte de visite à la fois physique et virtuelle quelque soit l'heure, le temps et le lieu.
              <br>
              Avec GeassCard, vous devenez plus connecté et vous n'aurez plus vraiment besoin de trainer avec un tas de carte de visite.
              <br>
              Avec GeassCard, vous pouvez actualiser vos données à tout moment et vos contacts le sauront presque comme un réseau social.
            </p>
          </div>
        </div> 
      </div>
      <div class="text-center our-services">
        <div class="row">
          <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="service-icon">
              <i class=" material-icons" style="font-size: 45px; float: center;">person</i>
            </div>
            <div class="service-info">
              <h3>Une politique orientée "Client".</h3>
              <p>
                Vous bénéficiez de plus d'espace pour afficher vos informations et en plus même votre CV, vos réseaux sociaux, votre enreprise.
                Vos données restent entierement actualisables à votre souhait.
              </p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
            <div class="service-icon">
              <i class=" material-icons" style="font-size: 45px; float: center;">architecture</i>
            </div>
            <div class="service-info">
              <h3>Un design élégant et économique</h3>
              <p>
                Vous avez à votre disposition une carte de visite élégante et personnalisable entre vos mains qui en vaut plusieurs.
                Ainsi, vous faites des économies sur le long terme.
              </p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="650ms">
            <div class="service-icon">
              <i class=" material-icons" style="font-size: 45px; float: center;">local_offer</i>
            </div>
            <div class="service-info">
              <h3>Un tarif avantageux</h3>
              <p>
                Avec GeassCard, vous bénéficiez d'un rapport qualité-prix etudié pour que tout le monde; Etudiants, Professionnels et Clients 
                Premium puissent en beneficier et s'y retoruver pleinement.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!--/#services-->