<section id="team">
        <div class="container">
          <div class="row">
            <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
              <h2>Notre Equipe</h2>
              <h4>
                GeassCorp Digital
              </h4>
              <p>
                ( GeassCorp Section Digitale )
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-sm-12" style="float: center; border: 1px solid black;">
            </div>
            <div class="col-md-4 col-sm-12" style="float: center; border: 1px solid black;">
              <div class="card">
                <img class="card-img-top img-responsive" src="/asset/img/logo_geasscorp.png" alt="GeassCorp Section Digitale">
                <div class="card-body">
                  <p class="card-text">
                    <div class="social-icons">
                      <ul>
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                      </ul>
                    </div>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12" style="float: center; border: 1px solid black;">
            </div>
          </div>           
        </div>
      </section><!--/#team-->