<section id="twitter" class="parallax">
  <div>
    <a class="twitter-left-control" href="#twitter-carousel" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
    <a class="twitter-right-control" href="#twitter-carousel" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="display-3">
            
          </div>
          <div class="twitter-icon text-center">
              <i class="fa fa-users fa-lg" style="margin-bottom:;"> Témoignages</i>
          </div>
          <br><br>
          <div id="twitter-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="item active wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                <p>Idée très innovante, je kiff. <a href="#"><span>Carion</span> </a></p>
              </div>
              <div class="item">
                <p>Carte Qr <a href="#"><span>#helixframework #joomla</span> http://bit.ly/1qlgwav</a></p>
              </div>
              <div class="item">                                
                <p>Carte Qr <a href="#"><span>#helixframework #joomla</span> http://bit.ly/1qlgwav</a></p>
              </div>
            </div>                        
          </div>                    
        </div>
      </div>
    </div>
  </div>
</section><!--/#twitter-->