<section data-id="about-me" class="animated-section">
    <div class="page-title">
        <h2>Parlons de <span>Moi</span></h2>
    </div>

    <div class="section-content">
        <!-- Personal Information -->
        <div class="row">
            <div class="col-xs-12 col-sm-7">
                <p>
                    <% if(actuclient.autoDescription) { %>
                        <%= actuclient.autoDescription %>
                    <% } else { %>
                        Non disponible
                    <% } %>
                </p>
            </div>

            <div class="col-xs-12 col-sm-5">
                <div class="info-list">
                    <ul>

                        <li>
                            <span class="title">Nom</span>
                            <span class="value">
                                <% if(actuclient.nom) { %>
                                    <%= actuclient.nom %>
                                <% } else { %>
                                    Non disponible
                                <% } %>
                            </span>
                        </li>

                        <li>
                            <span class="title">Prenom(s)</span>
                            <span class="value">
                                <% if(actuclient.prenom) { %>
                                    <%= actuclient.prenom %>
                                <% } else { %>
                                    Non disponible
                                <% } %>
                            </span>
                        </li>

                        <li>
                            <span class="title">Date de naissance</span>
                            <span class="value">
                                <% if(actuclient.dateNaissance) { %>
                                    <%= actuclient.dateNaissance %>
                                <% } else { %>
                                    Non Disponible
                                <% } %>
                            </span>
                        </li>

                        <li>
                            <span class="title">Genre</span>
                            <span class="value">
                                <% if(actuclient.sexe) { %>
                                    <%= actuclient.sexe %>
                                <% } else { %>
                                    Non disponible
                                <% } %>
                            </span>
                        </li>

                        <li>
                            <span class="title">E-mail</span>
                            <span class="value">
                                <% if(actuclient.email) { %>
                                    <%= actuclient.email %>
                                <% } else { %>
                                     Non Disponible
                                <% } %>
                            </span>
                        </li>

                        <li>
                            <span class="title">Site web personnel</span>
                            <span class="value">
                                <% if(actuclient.siteInternet) { %>
                                    <a href="<%= actuclient.siteInternet %>" target="_blank">Cliquez-ici</a>
                                <% } else { %>
                                     Non Disponible
                                <% } %>
                            </span>
                        </li>

                        <li>
                            <span class="title">Telephone 1</span>
                            <span class="value">
                                <% if(actuclient.phone1) { %>
                                    <%= actuclient.phone1 %>
                                <% } else { %>
                                     Non Disponible
                                <% } %>
                            </span>
                        </li>

                        <li>
                            <span class="title">Telephone 2</span>
                            <span class="value">
                                <% if(actuclient.phone2) { %>
                                    <%= actuclient.phone2 %>
                                <% } else { %>
                                     Non Disponible
                                <% } %>
                            </span>
                        </li>

                        <li>
                            <span class="title">Telephone 3</span>
                            <span class="value">
                                <% if(actuclient.phone3) { %>
                                    <%= actuclient.phone3%>
                                <% } else { %>
                                     Non Disponible
                                <% } %>
                            </span>
                        </li>

                        <li>
                            <span class="title">Addresse</span>
                            <span class="value">
                                <% if(actuclient.adresse) { %>
                                    <%= actuclient.adresse %>
                                <% } else { %>
                                    Non Disponible
                                <% } %>
                            </span>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <!-- End of Personal Information -->

        <div class="white-space-50"></div>

    </div>
</section>