<section data-id="contact" class="animated-section">
    <div class="page-title">
        <h2>Contact</h2>
    </div>

    <div class="section-content">

        <div class="row">
            <!-- Contact Info -->
            <div class="col-xs-12 col-sm-4">
                <div class="lm-info-block gray-default">
                    <i class="lnr lnr-map-marker"></i>
                    <h4>
                        <% if(actuclient.adresse) { %>
                            <%= actuclient.adresse %>
                        <% } else { %>
                            Non Disponible
                        <% } %>
                    </h4>
                    <span class="lm-info-block-value"></span>
                    <span class="lm-info-block-text"></span>
                </div>

                <div class="lm-info-block gray-default">
                    <i class="lnr lnr-phone-handset"></i>
                    <h4>
                        <% if(actuclient.phone1) { %>
                            <%= actuclient.phone1 %>
                        <% } else { %>
                            Non Disponible
                        <% } %>
                    </h4>
                    <span class="lm-info-block-value"></span>
                    <span class="lm-info-block-text"></span>
                </div>

                <div class="lm-info-block gray-default">
                    <i class="lnr lnr-envelope"></i>
                    <h4>
                        <% if(actuclient.email) { %>
                            <%= actuclient.email %>
                        <% } else { %>
                            Non Disponible
                        <% } %>
                    </h4>
                    <span class="lm-info-block-value"></span>
                    <span class="lm-info-block-text"></span>
                </div>

                <div class="lm-info-block gray-default">
                    <i class="lnr lnr-checkmark-circle"></i>
                    <h4>Disponible</h4>
                    <span class="lm-info-block-value"></span>
                    <span class="lm-info-block-text"></span>
                </div>


            </div>
            <!-- End of Contact Info -->

            <!-- Contact Form -->
            <div class="col-xs-12 col-sm-8">
                <div id="map" class="map"></div>
                <div class="block-title">
                    <h3>Voudriez-vous <span>me contacter ???</span></h3>
                </div>

                <form id="contac_form" class="contact-form" action="/portfolio/contact"
                    method="post">

                    <div class="messages" style="display: none;">
                        <hr>
                        <p>
                            Il y'a une erreur
                        </p>
                        <hr>
                    </div>
                    

                    <div class="controls two-columns">
                        <div class="fields clearfix">
                            <div class="left-column">
                                <div class="form-group form-group-with-icon">
                                    <input id="form_name" type="text" name="name"
                                        class="form-control" placeholder="" required="required"
                                        data-error="Svp, votre nom est obligatoire.">
                                    <label>Vos Nom && Prenom</label>
                                    <div class="form-control-border"></div>
                                    <div class="help-block with-errors"></div>
                                </div>

                                <div class="form-group form-group-with-icon">
                                    <input id="form_email" type="email" name="email"
                                        class="form-control" placeholder="" required="required"
                                        data-error="Svp, un email valide est obligatoire.">
                                    <label>Votre adresse email</label>
                                    <div class="form-control-border"></div>
                                    <div class="help-block with-errors"></div>
                                </div>

                                <div class="form-group form-group-with-icon">
                                    <input id="form_subject" type="text" name="subject"
                                        class="form-control" placeholder="" required="required"
                                        data-error="Svp, un sujet est obligatoire.">
                                    <label>Sujet</label>
                                    <div class="form-control-border"></div>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="right-column">
                                <div class="form-group form-group-with-icon">
                                    <textarea id="form_message" name="message" class="form-control"
                                        placeholder="" rows="7" required="required"
                                        data-error="Svp, un message est obligatoire."></textarea>
                                    <label>Message</label>
                                    <div class="form-control-border"></div>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <input name="hashcode" type="hidden" value="<%= hashcode %>">

                        <div class="g-recaptcha"
                            data-sitekey="6LdqmCAUAAAAAMMNEZvn6g4W5e0or2sZmAVpxVqI"
                            data-theme="<%= typeTemplate %> "></div>

                        <button type="submit" class="button btn-send" value="Envoyer Message">
                            Envoyer Message
                        </button>
                    </div>
                </form>
            </div>
            <!-- End of Contact Form -->
        </div>

    </div>
</section>