<section data-id="enterprise" class="animated-section">
    <div class="page-title">
        <% if(actuclient.estBoss == 1) { %>
            <h2>Geass<span>Corp </span>
            </h2>
        <% } else { %>
            <h2>
                <% if(societeclient.poste && societeclient.nom) { %>

                    <%= societeclient.nom %>
    
                <% } %>
            </h2>
        <% } %> 
        
    </div>

    <div class="section-content">
        <!-- Personal Information -->
        <div class="row">
            <div class="col-xs-12 col-sm-7">
                <p>
                    <% if(actuclient.autoDescription) { %>
                    <%= actuclient.autoDescription %>
                    <% } else { %>
                    Non disponible
                    <% } %>
                </p>
            </div>

            <div class="col-xs-12 col-sm-5">
                <div class="info-list">
                    <ul>

                        <li>
                            <span class="title">Nom</span>
                            <span class="value">
                                <% if(actuclient.nom) { %>
                                <%= actuclient.nom %>
                                <% } else { %>
                                Non disponible
                                <% } %>
                            </span>
                        </li>

                        <li>
                            <span class="title">Poste</span>
                            <span class="value">
                                <% if(societeclient.poste) { %>
                                    <%= societeclient.poste %>
                                <% } else { %>
                                    Non Disponible
                                <% } %>
                            </span>
                        </li>

                        <li>
                            <span class="title">Email</span>
                            <span class="value">
                                <% if(societeclient.email) { %>
                                    <%= societeclient.email %>
                                <% } else { %>
                                    Non Disponible
                                <% } %>
                            </span>
                        </li>

                        <li>
                            <span class="title">Adresse</span>
                            <span class="value">
                                <% if(societeclient.adresse) { %>
                                    <%= societeclient.adresse %>
                                <% } else { %>
                                    Non Disponible
                                <% } %>
                            </span>
                        </li>

                        

                        <li>
                            <span class="title">Telephone 1</span>
                            <span class="value">
                                <% if(societeclient.phone1) { %>
                                    <%= societeclient.phone1 %>
                                <% } else { %>
                                    Non Disponible
                                <% } %>
                            </span>
                        </li>

                        <li>
                            <span class="title">Telephone 2</span>
                            <span class="value">
                                <% if(societeclient.phone2) { %>
                                    <%= societeclient.phone2%>
                                <% } else { %>
                                    Non Disponible
                                <% } %>
                            </span>
                        </li>

                        <li>
                            <span class="title">Telephone 3</span>
                            <span class="value">
                                <% if(societeclient.phone3) { %>
                                    <%= societeclient.phone3 %>
                                <% } else { %>
                                    Non Disponible
                                <% } %>
                            </span>
                        </li>

                        <li>
                            <span class="title">Site Internet</span>
                            <span class="value">
                                <% if(societeclient.siteInternet) { %>
                                    <a href="<%= societeclient.siteInternet %>">
                                        Cliquez-ici
                                    </a>
                                <% } else { %>
                                    Non Disponible
                                <% } %>
                            </span>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <!-- End of Personal Information -->

        <div class="white-space-50"></div>

    </div>
</section>