<!--    
    Il s'agit de la version originale du header
-->

<header id="site_header" class="header mobile-menu-hide">
    <div class="header-content">
        <div class="header-photo">
            <img src="/template/bcv/<%= lienTemplate %>/img/main_photo.jpg" alt="
            <% if(actuclient.nom || actuclient.prenom) { %>
                <%= actuclient.nom %> <%= actuclient.prenom %>
            <% } %>
            ">
        </div>
        <div class="header-titles">
            <h2>
                <% if(actuclient.nom || actuclient.prenom) { %>
                <%= actuclient.nom %> <%= actuclient.prenom %>
                <% } %>
            </h2>

            <% if(societeclient.poste && societeclient.nom) { %>

                <p>
                    <span style="font-size: 20px;">
                        <%= societeclient.poste %>
                    </span>
                        chez
                    <span style="font-weight: bold; font-size: 18px;">
                        <%= societeclient.nom %>
                    </span>
                </p>

            <% } %>

        </div>
    </div>

    <ul class="main-menu">
        <li class="active">
            <a href="#home" class="nav-anim">
                <span class="menu-icon lnr lnr-home"></span>
                <span class="link-text">Home</span>
            </a>
        </li>
        <li>
            <a href="#about-me" class="nav-anim">
                <span class="menu-icon lnr lnr-user"></span>
                <span class="link-text">About Me</span>
            </a>
        </li>
        <li>
            <a href="#resume" class="nav-anim" style="display: ;">
                <span class="menu-icon lnr lnr-graduation-hat"></span>
                <span class="link-text">Resume</span>
            </a>
        </li>
        <li>
            <a href="#portfolio" class="nav-anim" style="display: ;">
                <span class="menu-icon lnr lnr-briefcase"></span>
                <span class="link-text">Portfolio</span>
            </a>
        </li>
        <li>
            <a href="#blog" class="nav-anim" style="display: ;">
                <span class="menu-icon lnr lnr-book"></span>
                <span class="link-text">Blog</span>
            </a>
        </li>
        <li>
            <a href="#contact" class="nav-anim">
                <span class="menu-icon lnr lnr-envelope"></span>
                <span class="link-text">Contact</span>
            </a>
        </li>
    </ul>

    <div class="social-links">
        <ul>
            <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
        </ul>
    </div>

    <div class="header-buttons">
        <a href="#" target="_blank" class="btn btn-primary">Download CV</a>
    </div>

    <div class="copyrights">© GeassCorp <span id="annee"></span>  Tous droits reservés.</div>
    <script>
        document.getElementById('annee').innerHTML = new Date().getFullYear()
    </script>
</header>