<header id="site_header" class="header mobile-menu-hide">
    <div class="header-content">
        <div class="header-photo">
            <% if(actuclient.estBoss == 1) { %>
                <img src="/asset/img/carion.jpeg" alt="
                <% if(actuclient.nom || actuclient.prenom) { %>
                    <%= actuclient.nom %> <%= actuclient.prenom %>
                <% } %>
                ">
            <% } else { %>
                
                <% if(fichierclient.cheminPhotoProfil) { %> 
                    <img src="<%= fichierclient.cheminPhotoProfil %>" style="display: ;" alt="
                    <% if(actuclient.nom || actuclient.prenom) { %>
                        <%= actuclient.nom %> <%= actuclient.prenom %>
                    <% } %>
                ">
                <% } else { %> 
                    <% if(actuclient.sexe == "masculin") { %> 
                        <img src="/asset/img/sboy.png" style="display: ;" alt="
                        <% if(actuclient.nom || actuclient.prenom) { %>
                            <%= actuclient.nom %> <%= actuclient.prenom %>
                        <% } %>
                    ">
                    <% } %> 
                    <% if(actuclient.sexe == "feminin") { %> 
                        <img src="/asset/img/sgirl.png" style="display: ;" alt="">
                    <% } %> 
                    <% if(actuclient.sexe != "feminin" && actuclient.sexe != "masculin") { %> 
                        <img src="https://placehold.it/400%" style="display: ;" alt="
                            <% if(actuclient.nom || actuclient.prenom) { %>
                                <%= actuclient.nom %> <%= actuclient.prenom %>
                            <% } %>
                        ">
                    <% } %> 
                <% } %> 
                
                
            <% } %> 

        </div>
        <div class="center" style="width: 60%; margin-left: 20%; margin-right: 20%;">
            <img src="<%= fichierclient.cheminQr %> " alt="Qr Code Client">
        </div>
        
        <div class="header-titles">
            <h2>
                <% if(actuclient.nom || actuclient.prenom) { %>
                <%= actuclient.nom %> <%= actuclient.prenom %>
                <% } %>
            </h2>

            <% if(societeclient.poste && societeclient.nom) { %>

            <p>
                <span style="font-size: 20px;">
                    <%= societeclient.poste %>
                </span>
                chez
                <span style="font-weight: bold; font-size: 18px;">
                    <%= societeclient.nom %>
                </span>
            </p>

            <% } %>

        </div>
    </div>

    <ul class="main-menu">
        <li class="active">
            <a href="#home" class="nav-anim">
                <span class="menu-icon lnr lnr-home"></span>
                <span class="link-text">Accueil</span>
            </a>
        </li>
        <li>
            <a href="#about-me" class="nav-anim">
                <span class="menu-icon lnr lnr-user"></span>
                <span class="link-text">Parlons de moi</span>
            </a>
        </li>

        <% if(societeclient.poste && societeclient.nom) { %>

        <li>
            <a href="#enterprise" class="nav-anim">
                <span class="menu-icon lnr lnr-apartment"></span>
                <span class="link-text">L'entreprise</span>
            </a>
        </li>

        <% } %>

        <li>
            <a href="#contact" class="nav-anim">
                <span class="menu-icon lnr lnr-envelope"></span>
                <span class="link-text">Contact</span>
            </a>
        </li>
    </ul>

    <div class="social-links">
        <ul>

            <% if(socialclient.lienFacebook) { %>
            <li><a href="<%= socialclient.lienFacebook %>"><i class="fa fa-facebook"></i></a></li>
            <% } %>
            <% if(socialclient.lienTwitter) { %>
            <li><a href="<%= socialclient.lienTwitter %>" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <% } %>
            <% if(socialclient.lienLinkedin) { %>
            <li><a href="<%= socialclient.lienLinkedin %>" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
            <% } %>
            <% if(socialclient.lienSkype) { %>
            <li><a href="<%= socialclient.lienSkype %>" target="_blank"><i class="fab fa-skype"></i></a></li>
            <% } %>
            <% if(socialclient.lienInstagram) { %>
            <li><a href="<%= socialclient.lienInstagram %>" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <% } %>
            <% if(socialclient.lienViadeo) { %>
            <li><a href="<%= socialclient.lienViadeo %>" target="_blank"><i class="fab fa-viadeo"></i></a></li>
            <% } %>
            <% if(socialclient.lienGooglePlus) { %>
            <li><a href="<%= socialclient.lienGooglePlus %>" target="_blank"><i class="fab fa-google-plus"></i></a></li>
            <% } %>



        </ul>
    </div>

    <% if (fichierclient.cheminCv) { %>
        <div class="header-buttons">
            <a href="<%= fichierclient.cheminCv %> " download="Curriculum Vitae de <%= actuclient.nom %> <%= actuclient.prenom %>" target="_blank" class="btn btn-primary">Telecharger mon cv</a>
        </div>
    <% } %>

    

    <div class="copyrights">© GeassCorp <span id="annee"></span> Tous droits reservés.</div>
    <script>
        document.getElementById('annee').innerHTML = new Date().getFullYear()
    </script>
</header>