<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GeassCard : Carte de visite en ligne</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="BreezyCV - Resume / CV / vCard Template" />
    <meta name="keywords"
        content="vcard, resposnive, retina, resume, jquery, css3, bootstrap, Material CV, portfolio" />
    <meta name="author" content="lmpixels" />
    <link rel="shortcut icon" href="/asset/img/logo_geasscard.ico">


    <link rel="stylesheet" href="/template/bcv/<%= lienTemplate %>/css/reset.css" type="text/css">
    <link rel="stylesheet" href="/template/bcv/<%= lienTemplate %>/css/bootstrap-grid.min.css" type="text/css">
    <link rel="stylesheet" href="/template/bcv/<%= lienTemplate %>/css/animations.css" type="text/css">
    <link rel="stylesheet" href="/template/bcv/<%= lienTemplate %>/css/perfect-scrollbar.css" type="text/css">
    <link rel="stylesheet" href="/template/bcv/<%= lienTemplate %>/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="/template/bcv/<%= lienTemplate %>/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/template/bcv/<%= lienTemplate %>/css/main.css" type="text/css">

    <script src="/template/bcv/<%= lienTemplate %>/js/modernizr.custom.js"></script>
</head>