<section data-id="home" class="animated-section start-page">
    <div class="section-content vcentered">

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="title-block">
                    <h2>
                        <% if(actuclient.nom || actuclient.prenom) { %>
                            <%= actuclient.nom %> <%= actuclient.prenom %>
                        <% } %>
                    </h2>
                    <div class="owl-carousel text-rotation">

                        <% if(societeclient.poste && societeclient.nom) { %>

                            <div class="item">
                                <div class="sp-subtitle">
                                    <p>
                                        <span style="font-size: 25px;">
                                            <%= societeclient.poste %>
                                        </span>
                                            chez
                                        <span style="font-weight: bold; font-size: 23px;">
                                            <%= societeclient.nom %>
                                        </span>
                                    </p>
                                </div>
                            </div>
            
                        <% } %>

                        <div class="item" style="display: none;">
                            <div class="sp-subtitle">Web Designer</div>
                        </div>

                        <div class="item" style="display: none;">
                            <div class="sp-subtitle">Frontend-developer</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>