<script src="/template/bcv/<%= lienTemplate %>/js/jquery-2.1.3.min.js"></script>
<script src="/template/bcv/<%= lienTemplate %>/js/modernizr.custom.js"></script>
<script src="/template/bcv/<%= lienTemplate %>/js/animating.js"></script>

<script src="/template/bcv/<%= lienTemplate %>/js/imagesloaded.pkgd.min.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>

<script src='/template/bcv/js/perfect-scrollbar.min.js'></script>
<script src='/template/bcv/js/jquery.shuffle.min.js'></script>
<script src='/template/bcv/js/masonry.pkgd.min.js'></script>
<script src='/template/bcv/js/owl.carousel.min.js'></script>
<script src="/template/bcv/<%= lienTemplate %>/js/jquery.magnific-popup.min.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrDf32aQTCVENBhFJbMBKOUTiUAABtC2o"></script>
<script src="/template/bcv/<%= lienTemplate %>/js/jquery.googlemap.js"></script>
<script src="/template/bcv/<%= lienTemplate %>/js/validator.js"></script>
<script src="/template/bcv/<%= lienTemplate %>/js/main.js"></script>