<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="/template/dash2/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="/template/dash2/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Fontastic Custom icon font-->
    <link rel="stylesheet" href="/template/dash2/css/fontastic.css">
    <!-- Google fonts - Poppins -->
    <link rel="stylesheet" href="/template/dash2/https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="/template/dash2/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="/template/dash2/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="/template/dash2/img/favicon.ico">
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
        <script src="/template/dash2/https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="/template/dash2/https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
    <body>
        <div class="page">
        <!-- Main Navbar-->
        <br><br><br><br>
            <div class="content-inner">
            <!-- Forms Section-->
            <section class="forms"> 
                <div class="container-fluid">
                <div class="row">

                    <%- content %>
    
    </body>
</html>            