<%- extend('../baseclient') %>

<div class="d-flex row justify-content-around mt-5">

    
    <% if(locals.info  && locals.info == "yes") {%>
        <% for (modele of modeles) { %>
            <div class="card text-center" style="width: 18rem;">
                <img src="<%= modele.lienFichier %>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><%= modele.nom %></h5>
                    <p class="card-text">Modele <%= modele.id %></p>
                    <a href="/compte/client/passcommand/typecarton/<%= modele.codeModele %>" class="btn btn-primary col-10 offset-1">Choisir</a>
                </div>
            </div>
        <% } %>
    <% } else { %>
        <div class="alert alert-warning">
            Aucun modele de carte disponible
        </div>
    <% } %>


</div>

