<%- extend('../baseclient') %>
<div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2" style="margin-top: 5%;">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <h3 class="h4">Votre Commande : Etape 2 => Bon de reduction</h3>
        </div>
        <div class="card-body text-center">
            <table class="table table-hover col-12">
                <thead>

                </thead>
                <tbody>
                    <tr>
                        <th><h1>Nombres d'articles : </h1> </th>
                        <td><h1 class="text-dark"><%= nbligne %></h1></td>
                    </tr>
                    <% if ( locals.disporeduct === "yes") { %>
                        <% for (reduction of reductions) { %>
                            <tr>
                                <th><h1>Réduction  </h1></th>
                                <td><h1 class="text-purple">- <%=reduction.sommeReduction %></h1></td>
                            </tr>
                        <% } %>
                    <% } %>
                    <tr>
                        <th><h1>Sous-Total :</h1> </th>
                        <td><h1 class="text-dark"><%= panier.prixTotal - panier.reduction %></h1><h3>FCFA</h3> </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <a href="/compte/client/passcommand/panier" class="btn btn-lg btn-info col-sm-10 offset-sm-1 col-md-4 offset-md-1">
                Retour Etape 1
            </a>
            <a href="/compte/client/passcommand/panier/modepaiement/<%= panier.codePanier %>" class="btn btn-lg btn-success col-sm-10 offset-sm-1 col-md-4 offset-md-1">
                Continuer Etape 3
            </a>
        </div>
    </div>
    <div class="col-sm-8 offset-sm-2  col-md-6 offset-md-3 col-lg-6 offset-lg-3 ">
        <div class="card">
          <div class="card-body text-center">
            <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-warning">Consulter les détails </button>
            <!-- Modal-->
            <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
              <div role="document" class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 id="exampleModalLabel" class="modal-title">
                        Votre Panier Actuel
                    </h4>
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                  </div>
                  <div class="modal-body">
                    <table class="table table-hover col-12">
                        <thead>
                            <tr>
                                <th>Produit</th>
                                <th>Prix</th>  
                                <th>Qte</th>
                                <th>Total</th>
                            <!--    <th>Action</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <% for(ligne of lignepaniers) {%>
                                <tr>
                                    <td><%= ligne.nom %> <%= ligne.typeCarte %> Pack <%= ligne.nbcarte %></td>
                                    <td><%= ligne.prix %></td>  
                                    <td><%= ligne.quantite %></td>
                                    <td><%= ligne.prix*ligne.quantite %></td>
                            <!--        <td><a class="text-danger" href="/compte/client/passcommand/panier/deline/<%= ligne.codeLp %>"><i class=" fa fa-trash "></i></a></td> -->
                                </tr>
                            <% } %>
                            <tr></tr>
                            <% if ( locals.disporeduct === "yes") { %>
                                <% for (reduction of reductions) { %>
                                    <tr>
                                        <th><h1>Bon De Reduction  </h1> </th>
                                        <!--        <td></td> -->
                                                <td></td>
                                                <td></td>
                                                <td><h1 class="text-dark">- <%= reduction.sommeReduction %></h1></td>
                                    </tr>
                                <% } %>
                            <% } %>
                            <tr>
                                <th><h1>Coût Total :</h1> </th>
                                <!--        <td></td> -->
                                        <td></td>
                                        <td></td>
                                        <td><h1 class="text-dark"><%= panier.prixTotal - panier.reduction %></h1></td>
                            </tr>
                        </tbody>
                    </table>
                  </div>
                  <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-10 offset-md-1  col-lg-8 offset-lg-2">                           
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h3 class="h4">Bon De Réduction</h3>
            </div>
            <div class="card-body">
                <form method="post" action="/compte/client/passcommand/panier/validreduction/<%= panier.codePanier %>" class="form-inline">
                    <div class="form-group col-8 justify-content-center">
                        <label for="inlineFormInput" class="sr-only">Bon de reduction</label>
                        <input id="inlineFormInput" name="code" type="text" placeholder="Le code ici" class="mr-3 form-control"
                            value=
                            <% if(locals.info) { %>
                                <%= info.code %>
                            <% } %>
                        >
                    </div>
                    <div class="form-group col-2">
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                    </div>
                </form>
          </div>
          <div class="card-footer text-center">
            <p style="color: red;">
                <% if (locals.error) { %>
                    <%= error %>
                <% } %>
            </p>
          </div>
        </div>
      </div>
</div>